.text--bold {
    font-weight: get-font(weight, bold) !important;
}

.text--medium {
    font-weight: get-font(weight, medium) !important;
}

.text--regular {
    font-weight: get-font(weight, regular) !important;
}

// transform
.text--uppercase {
    text-transform: uppercase !important;
}

// transform
.text--notransform {
    text-transform: none !important;
}

.text--capitalize {
    text-transform: capitalize !important;
}

// decoration
.text--linethrough {
    text-decoration: line-through !important;
}

.text--ellipsis {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.text--nowrap {
    white-space: nowrap;
}

.text--start {
    text-align: start;
}

.text--end {
    text-align: end;
}

.text--center {
    text-align: center;
}

.text--white,
.text--white-500 {
    color: get-color(white, 500);
}


.text--white-300 {
    color: get-color(white, 300);
}