.bg--primary {
    background-color: get-color(primary, 500);
}

.bg--black,
.bg--black-500 {
    background-color: get-color(black, 500);
}

.bg--black-400 {
    background-color: get-color(black, 400);
}

.bg--black-200 {
    background-color: get-color(black, 200) !important;
}

.bg--black-300 {
    background-color: get-color(black, 300) !important;
}

.bg--white-300 {
    background-color: get-color(white, 300) !important;
}

.bg--gray-300 {
    background-color: get-color(gray, 300) !important;
}

.bg--shadow {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(transparent, rgba(51, 51, 51, 0.4));
    }
}