.bg--primary {
    background-color: get-color(primary, 500);
}

.bg--black,
.bg--black-500 {
    background-color: get-color(black, 500);
}

.bg--black-400 {
    background-color: get-color(black, 400);
}