.border--right {
    border-right: 1px solid rgba(black, 0.15);
}

.border--left {
    border-left: 1px solid rgba(black, 0.15);
}

.border--top {
    border-top: 1px solid rgba(black, 0.15);
}

.border--bottom {
    border-bottom: 1px solid rgba(black, 0.15);
}

.border {
    border: 1px solid rgba(black, 0.15);
}

.border--darker {
    border-color: rgba(black, 0.1);

}