.link {
    font-size: 1.4rem;
    color: get-color(primary, 500);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    > i:first-child:not(:last-child) {
        margin-right: 0.8rem;
    }

    > i:last-child:not(:first-child) {
        margin-left: 0.8rem;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}

.link--nounderline {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.link--white {
    color: rgba(get-color(white, 500), 0.6);
    transition: color 0.3s;
    font-size: 1.4rem;

    &:hover,
    &:focus,
    &:active {
        color: get-color(white, 500);
    }
}

.link--primary {
    color: get-color(primary, 500);
    transition: color 0.3s;
    font-size: 1.4rem;

    * {
        color: get-color(primary, 500);
        transition: color 0.3s;
    }

    &:hover,
    &:focus,
    &:active {
        color: darken(get-color(primary, 500), 5%);

        * {
            color: darken(get-color(primary, 500), 5%);
        }
    }
}

.link--red {
    color: get-color(red, 500);

    &:hover,
    &:focus,
    &:active {
        color: darken(get-color(red, 500), 5%);
    }
}

.link--md {
    font-size: 1.6rem;
}

.link--side {
    font-size: 1.4rem;
    font-weight: get-font(weight, bold);
    color: get-color(black, 500);
    display: flex;
    align-items: center;
    background-color: get-color(white, 500);
    border-radius: 0.5rem;
    transition: 0.3s background-color;

    &:hover,
    &:active,
    &:focus {
        background-color: darken(get-color(white, 500), 2%);
    }

    &.is-active {
        background-color: darken(get-color(white, 500), 4%);
    }

    i {
        font-size: 1.6rem;
        margin-right: 0.8rem;
    }

    &:hover,
    &:focus,
    &:active {
        color: get-color(black, 500);
        text-decoration: none;
    }
}

.link--circle {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: transparent;
    color: get-color(black, 500);
    transition: 0.3s background-color;

    &:hover,
    &:active,
    &:focus {
        background-color: get-color(white, 500);
    }
}