.text--extraBold {
    font-weight: get-font(weight, extraBold) !important;
}

.text--bold {
    font-weight: get-font(weight, bold) !important;
}

.text--medium {
    font-weight: get-font(weight, medium) !important;
}

.text--regular {
    font-weight: get-font(weight, regular) !important;
}

.text--lg {
    font-size: 1.8rem !important;
}

.text--md {
    font-size: 1.6rem !important;
}

.text--sm {
    font-size: 1.4rem !important;
}

.text--xs {
    font-size: 1.2rem !important;
}

// transform
.text--uppercase {
    text-transform: uppercase !important;
}

.text--notransform {
    text-transform: none !important;
}

.text--capitalize {
    text-transform: capitalize !important;
}

.text--unset {
    text-transform: unset !important;
}


// decoration
.text--linethrough {
    text-decoration: line-through !important;
}

.text--ellipsis {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.text--nowrap {
    white-space: nowrap;
}

.text--start {
    text-align: start !important;
}

.text--end {
    text-align: end !important;
}

.text--center {
    text-align: center !important;
}

// Primary
.text--primary,
.text--primary-500 {
    color: get-color(primary, 500) !important;
}

.text--primary-400 {
    color: get-color(primary, 400) !important;
}

// White
.text--white,
.text--white-500 {
    color: get-color(white, 500) !important;
}

.text--white-400 {
    color: get-color(white, 400) !important;
}

.text--white-300 {
    color: get-color(white, 300) !important;
}

.text--white-200 {
    color: get-color(white, 200) !important;
}

// Black
.text--black,
.text--black-500 {
    color: get-color(black, 500) !important;
}
.text--black-400 {
    color: get-color(black, 400) !important;
}

.text--black-300 {
    color: get-color(black, 300) !important;
}

.text--black-200 {
    color: get-color(black, 200) !important;
}

.text--black-100 {
    color: get-color(black, 100) !important;
}

// Gray
.text--gray-300 {
    color: get-color(gray, 300) !important;
}

// Green
.text--green,
.text--green-500 {
    color: get-color(green, 500) !important;
}

.text--green-400 {
    color: get-color(green, 400) !important;
}

.text--green-300 {
    color: get-color(green, 300) !important;
}

// Blue
.text--blue,
.text--blue-500 {
    color: get-color(blue, 500) !important;
}

.text--blue,
.text--blue-400 {
    color: get-color(blue, 400) !important;
}

// Orange
.text--orange,
.text--orange-500 {
    color: get-color(orange, 500) !important;
}

.text--orange-400 {
    color: get-color(orange, 400) !important;
}

// Yellow
.text--yellow,
.text--yellow-500 {
    color: get-color(yellow, 500) !important;
}

// Red
.text--red,
.text--red-500 {
    color: get-color(red, 500) !important;
}

.text--divider {
    display: flex;
    align-items: center;


    > span {
        font-size: 1.6rem;
        color: get-color(black, 500);
    }

    &::before {
        content: "";
        flex: 1 0 0;
        border-bottom: 1px solid rgba(black, 0.15);
    }

    &::after {
        content: "";
        flex: 1 0 0;
        border-bottom: 1px solid rgba(black, 0.15);
    }
}

.heading--underline {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 40px;
        left: 0;
        bottom: 0;
        background-color: get-color(primary, 500);
    }
}

.text--light {
    color: rgba(get-color(white, 500), 0.6);
}