.btn {
    background-color: #5F56C6;
    color: #FFFFFF;
    font-size: 1.3rem;
    padding: 1.2rem 2rem;
    border-radius: 0.7rem;
    position: relative;

    &:hover,
    &:focus,
    &:active {
        background-color: #584be0;
        color: white;
    }
}
.btn.is-disabled {
    pointer-events: none;
    opacity: 0.7;
    color: transparent;
    user-select: none;
    color:rgba(255, 255, 255, 0.585);
}
.btn.is-loading {
    pointer-events: none;
    opacity: 0.7;
    color: transparent;
    user-select: none;
}
.btn.is-loading::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(white, 0.25);
    border-left-color: white;
    border-radius: 50%;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    min-width: 16px;
    min-height: 16px;
    animation: donut-spin 1.2s linear infinite;
}
.btn--sm {
    font-size: 1.2rem;
    padding: 1rem 1.8rem;
}
.btn--lg {
    font-size: 1.6rem;
    padding: 1.5rem 2.2rem;
}
.btn--secondary {
    color: black;
    background-color:#f7f7f7;

    &:hover,
    &:focus,
    &:active {
        background-color: #ecebeb;
        color: black;
    }
}
@keyframes donut-spin {
    to {
        transform: rotate(1turn);
    }
}