@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-stretch: normal;  
    font-family: get-font(family, primary);
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: get-color(white, 500);
    color: get-color(black, 500);

    &.is-overlay {
        overflow: hidden;
    }

    &.is-loading:not(.prevent-loading) * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
        transition: none !important;  
    }

}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#root > main {
    flex-grow: 1;
}

ul {
    list-style: none;
}

code {
    background-color: #eeeeee;
    padding: 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    font-weight: bold;
}

a {
    display: inline-block;
    text-decoration: none;
    color: get-color(black, 500);
    transition: 0.3s color;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
        color: get-color(primary, 500);
    }

    > i {
        transition: 0.3s color;
    }
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(get-color(white, 500), 0.15);

    &.hr--light {
        background-color: rgba(black, 0.05);
    }
    
    &.hr--darker {
        background-color: rgba(black, 0.1);
    }
}

hr.vr {
    border: none;
    width: 1px;
    height: 100%;
    background-color: rgba(get-color(white, 500), 0.15);
}

table {
    border-collapse: collapse;
}

img {
    display: block;
}

.is-hidden {
    display: none !important;
}