h1, .h1 {
    font-size: 4.8rem;
    line-height: 125%;
    font-weight: get-font(weight, extraBold);
}

h2, .h2 {
    font-size: 4rem;
    line-height: 125%;
    font-weight: get-font(weight, extraBold);
}

h3, .h3 {
    font-size: 3.8rem;
    line-height: 1.4;
    font-weight: get-font(weight, bold);
}

h4, .h4 {
    font-size: 3.2rem;
    line-height: 125%;
    font-weight: get-font(weight, bold);
}

h5, .h5 {
    font-size: 2.2rem;
    line-height: 1.25;
    font-weight: get-font(weight, bold);
}

h6, .h6 {
    font-size: 2rem;
    line-height: 1.25;
    font-weight: get-font(weight, bold);
}

p, .p {
    font-size: 1.6rem;
    line-height: 175%;
    color: get-color(black, 200);
    font-weight: get-font(weight, regular);
}

a, .a,
li, .li {
    font-size: 1.3rem;
    color: get-color(black, 500);


}

span, .span {
    font-size: 1.4rem;
    color: get-color(black, 200);
}

small, .small {
    font-size: 1.2rem;
}

strong, .strong {
    font-weight: get-font(weight, bold);
}