$colors: (
    primary: (
        500: #5f56c6,
        400: rgb(123,131,220),
        gradient: linear-gradient(180deg, #AE90DE 0%, #5077D9 100%)
    ),
    white: (
        500: #ffffff,
        400:  #f7f7f7,
        300: rgba(#ffffff, 0.8),
        200: #F3F3F3
    ),
    gray: (
        300: #bbbbbb
    ),
    black: (        
        500: #333333,
        400: #101010,
        300: #848484,
        200: #777777,
        100: #242424
    ),
    green: (
        500: #65B32E,
        400: #58a394,
        300: #ECFBE6
    ),
    blue: (
        500: #00A1BE,
        400: #a4ecfb6c
    ),
    orange: (
        500: #f16543,
        400: #FFF6E8
    ),
    yellow: (
        500: #ffcb15
    ),
    red: (
        500: #FF1A43,
        400: #FFE8EC 
    )

)