$colors: (
    primary: (
        500: #5f56c6
    ),
    white: (
        200: #F3F3F3,
        300: rgba(#ffffff, 0.8),
        400:  #f7f7f7,
        500: #ffffff
    ),
    black: (
        100: #242424,
        200: #777777,
        300: #848484,
        400: #101010,
        500: #333333
    ),
    green: (
        300: #ECFBE6,
        400: #58a394,
        500: #65B32E
    ),
    blue: (
        400: #a4ecfb6c,
        500: #00A1BE
    ),
    orange: (
        300: #FFF6E8,
        500: #f16543
    ),
    red: (
        400: #FFE8EC, 
        500: #FF1A43
    )

)