$colors: (
    primary: (
        500: #5f56c6
    ),
    white: (
        300: rgba(#ffffff, 0.8),
        400:  #f7f7f7,
        500: #ffffff
    ),
    black: (
        200: #777777,
        300: #848484,
        400: #101010,
        500: #333333
    ),
    green: (
        400: #58a394,
        500: #65B32E

    ),
    blue: (
        500: #00A1BE
    ),
    orange: (
        500: #f16543
    ),
)