.table {
    width: 100%;
    
    thead {
        tr > th {
            font-size: 1.6rem;
            font-weight: get-font(weight, extraBold);
            color: get-color(black, 500);
            text-transform: uppercase;
            text-align: start;
            padding: 1.6rem 1.2rem;
            border-bottom: 2px solid rgba(black, 0.1);
            font-size: 1.6rem;
        }


    }

    tbody {
        tr > td {
            padding: 1.6rem 1.2rem;
            text-align: start;
            font-size: 1.6rem;
            border-bottom: 1px solid rgba(black, 0.1);
        }
    }
}

.table__wrapper {
    overflow-x: auto;
}

.table--sm {
    thead {
        tr > th {
            font-size: 1.2rem;
            font-weight: get-font(weight, extraBold);
            color: get-color(black, 500);
            text-transform: uppercase;
            text-align: start;
            padding: 1.2rem 0.8rem;
            border-bottom: 2px solid rgba(black, 0.1);
        }


    }

    tbody {
        tr > td {
            padding: 1.2rem 0.8rem;
            text-align: start;
            border-bottom: 1px solid rgba(black, 0.1);
        }
    }
}