.section__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: get-color(primary, 400);
    color: get-color(white, 500);
    padding: 2rem 0;
    font-weight: 600;

    > .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section__header--icon {
        color: get-color(white, 500);
        font-size: 3.2rem;
        margin-right: 0.8rem;
        transition: 0.3s opacity;

        &:hover,
        &:focus,
        &:active {
            opacity: 0.5;
        }
    }
}

.section__header--stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    > li {
        color: get-color(white, 500);
        font-size: 2.2rem;
        text-transform: capitalize;
        display: none;
        align-items: center;
        flex-wrap: nowrap;
        text-align: center;
        line-height: 150%;

        > * {
            color: rgba(get-color(white, 500), 0.5);
            font-size: 2.2rem;
        }

        > a {
            color: rgba(get-color(white, 500), 0.5);
            font-size: 2.2rem;
            transition: 0.3s color;
            position: relative;

            > * {
                color: rgba(get-color(white, 500), 0.5);
                font-size: 2.2rem;
                transition: 0.3s color;
            }

            &:hover,
            &:active,
            &:focus {
                color: rgba(get-color(white, 500), 1);

                > * {
                    color: rgba(get-color(white, 500), 1);
                }
            }

        }

        > i {
            margin: 0 1.6rem;
            display: none;
        }

        &.is-active {
            display: flex !important;

            > a {
                color: rgba(get-color(white, 500), 1);

                > * {
                    color: rgba(get-color(white, 500), 1);
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: get-color(primary, 500);
                }
            }
        }

        
        @media (min-width: get-breakpoint(md)) {
            display: flex;

            > i {
                display: block;
            }
        }
    }
}