.breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > li {
        position: relative;
        font-size: 1.6rem;
        font-weight: get-font(weight, bold);
        color: get-color(black, 500);
        white-space: nowrap;

        a {
            color: get-color(black, 200);
            font-size: 1.6rem;
            font-weight: get-font(weight, regular);
            transition: 0.3s color;

            &:hover,
            &:focus,
            &:active {
                color: darken(get-color(black, 200), 10%);
            }
        }

        &:not(:last-of-type)::after {
            content: '/';
            font-weight: get-font(weight, regular);
            margin: 0 0.6rem;
            color: get-color(black, 200);
        }
    }
}

.breadcrumb--light {
    > li {
        position: relative;
        font-size: 1.1rem;
        font-weight: get-font(weight, bold);
        color: get-color(white, 500);
        text-transform: uppercase;

        a {
            color: get-color(white, 500);
            font-size: 1.1rem;
            font-weight: get-font(weight, bold);
            text-transform: uppercase;

            &:hover,
            &:focus,
            &:active {
                color: darken(get-color(white, 500), 10%);
            }
        }

        &:not(:last-of-type)::after {
            color: get-color(white, 500);
        }
    }
}