.alert {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: get-color(green, 300);
    border: 1px solid;
    border-color: get-color(green, 500);
    padding: 0.8rem 1.2rem;

    * {
        color: get-color(green, 500);
    }

    > *:not(button):not(a) {
        display: flex;
        align-items: center;
        font-size: 1.4rem;

        i {
            margin-right: 8px;
        }
    }

    > button, a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        border: unset;
        width: 24px;
        height: 24px;
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s background-color;
        
        i {
            font-size: 2rem;
            color: get-color(green, 500);
        }

        &:hover,
        &:active,
        &:focus {
            outline: none;
            background-color: lighten(get-color(green, 500), 40%);
        }
    }
}

.alert--error {
    background-color: get-color(red, 400);
    border-color: get-color(red, 500);

    * {
        color: get-color(red, 500);
    }

    > button, a {
        i {
            color: get-color(red, 500);
        }

        &:hover,
        &:active,
        &:focus {
            background-color: lighten(get-color(red, 500), 30%);
        }
    }
}

.alert--warning {
    background-color: get-color(orange, 400);
    border-color: get-color(orange, 500);

    * {
        color: get-color(orange, 500);
    }

    > button, a {
        i {
            color: get-color(orange, 500);
        }

        &:hover,
        &:active,
        &:focus {
            background-color: lighten(get-color(orange, 500), 30%);
        }
    }
}

.alert--info {
    background-color: get-color(blue, 400);
    border-color: get-color(blue, 500);

    * {
        color: get-color(blue, 500);
    }

    > button, a {
        i {
            color: get-color(blue, 500);
        }

        &:hover,
        &:active,
        &:focus {
            background-color: lighten(get-color(blue, 500), 45%);
        }
    }
}