.alert {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: get-color(success, 500);
    border: 1px solid;
    border-color: get-color(success, 500);
    border-radius: 0.5rem;
    padding: 0.8rem 1.2rem;

    * {
        color: get-color(white, 500);
    }

    > *:not(button):not(a) {
        display: flex;
        align-items: center;
        font-size: 1.4rem;

        i {
            font-size: 1.8rem;
            margin-right: 8px;
        }
    }

    > button, a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        border: unset;
        width: 24px;
        height: 24px;
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s background-color, 0.3s opacity;
        
        i {
            font-size: 2rem;
            color: get-color(white, 500);
        }

        &:hover,
        &:active,
        &:focus {
            outline: none;
            opacity: 0.7;
        }
    }
}

.alert--error {
    background-color: get-color(error, 500);
    border-color: get-color(error, 500);
}

.alert--warning {
    background-color: get-color(warning, 500);
    border-color: get-color(warning, 500);
}

.alert--info {
    background-color: get-color(info, 500);
    border-color: get-color(info, 500);
}

.alert--primary {
    background-color: get-color(primary, 500);
    border-color: get-color(primary, 500);

    &.alert--muted {
        color: get-color(primary, 500);
        background-color: lighten(get-color(primary, 500), 35%);
        border-color: lighten(get-color(primary, 500), 35%);

        * {
            color: get-color(primary, 500);

        }
    }
}