{% extends "layout/layout.html" %}

{% block content %}
<section class="my-48">
    <div class="container">
        <div class="d-flex text--center flex-column align-center justify-center">
            <div class="w-lg-60 w-md-70">
                <i class="bi bi-emoji-frown fs-48 fs-sm-56 fs-lg-64 text--primary mb-12 d-block"></i>
                <h4 class="mb-24">Stránka nebyla nalezena</h4>
                <a href="index.html" class="btn btn--secondary mx-auto">Zpět na hlavní stránku</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}