{% extends "layout/layout.html" %}

{% block content %}
<section class="mb-24">
    <div class="section__header">
        <div class="container">
            <div class="d-flex align-center justify-center">
                <a href="" class="section__header--icon">
                    <i class="bi bi-arrow-left"></i>
                </a>
                <h3>Windows</h3>
            </div>
        </div>
    </div>
</section>
<section class="mb-48">
    <div class="container">
        <div class="mb-24">
            <ul class="breadcrumb">
                <li>
                    <a href="">Domov</a>
                </li>
                <li>
                    <a href="">Microsoft Office</a>
                </li>
                <li>
                    Podnikatelia
                </li>
            </ul>
        </div>
        <div class="card card--light card--rounded py-24 px-32 text--center mb-24">
            <p><strong class="text--primary">Microsoft Office Professional</strong> vhodný pre podnikateľov do kancelárie alebo samozrejme pre náročných užívateľov aj do domácnosti. Verzia Professional Plus je obohatená o ďalšie nadštandardné aplikácie, ktoré môžete využiť pri práci v kancelárii. Všetky aplikácie, ktoré sú súčasťou balíka nájdete priamo v detaile produktu.</p>
        </div>
        <div class="mb-24 d-flex align-center justify-between p-relative">
            <div class="d-none d-lg-flex">
                <a href="" class="btn mr-12">Top</a>
                <a href="?sort=sales" class="btn btn--secondary mr-12">Nejprodávanější</a>
                <a href="?sort=price_desc" class="btn btn--secondary mr-12">Nejdražší</a>
                <a href="?sort=price_asc" class="btn btn--secondary mr-12">Nejlevnější</a>
            </div>
            <div class="d-lg-none">
                <div class="menu__dropdown menu__dropdown--tabs">
                    <button type="button" js-id="dropdown@click#filter-sort">
                        <span>Top</span>
                        <i class="bi bi-chevron-down"></i>
                    </button>
                    <ul class="menu__dropdown--list is-hidden" js-id="dropdown#filter-sort">
                        <li>
                            <a href="" class="menu__dropdown--link">Top</a>
                        </li>
                        <li>
                            <a href="?sort=sales" class="menu__dropdown--link">Nejprodávanější</a>
                        </li>
                        <li>
                            <a href="?sort=price_desc" class="menu__dropdown--link">Nejdražší</a>
                        </li>
                        <li>
                            <a href="?sort=price_asc" class="menu__dropdown--link">Nejlevnější</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="menu__dropdown menu__dropdown--filter">
                    <button type="button" js-id="dropdown@click#filter">
                        <i class="bi bi-funnel"></i>
                        <span>Filtrace</span>
                    </button>
                    <div class="menu__dropdown--list is-hidden" js-id="dropdown#filter">
                        <div class="p-24">
                            <div class="cols 12-xs 6-tn 4-md">
                                <div class="col">
                                    <h6 class="text--uppercase text--bold mb-12 text--sm">Typ licence</h6>
                                    <div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[112]" id="param[112]">
                                            <label for="param[112]" class="text--regular">categorie 1 (6)</label>
                                        </div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[2]" id="param[2]">
                                            <label for="param[2]" class="text--regular">categorie 2 (12)</label>
                                        </div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[3]" id="param[3]">
                                            <label for="param[3]" class="text--regular">categorie 3 (2)</label>
                                        </div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[4]" id="param[4]">
                                            <label for="param[4]" class="text--regular">categorie 4 (1)</label>
                                        </div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[5]" id="param[5]">
                                            <label for="param[5]" class="text--regular">categorie 5 (15)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <h6 class="text--uppercase text--bold mb-12 text--sm">Typ licence</h6>
                                    <div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[112]" id="param[112]">
                                            <label for="param[112]" class="text--regular">categorie 1 (6)</label>
                                        </div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[2]" id="param[2]">
                                            <label for="param[2]" class="text--regular">categorie 2 (12)</label>
                                        </div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[3]" id="param[3]">
                                            <label for="param[3]" class="text--regular">categorie 3 (2)</label>
                                        </div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[4]" id="param[4]">
                                            <label for="param[4]" class="text--regular">categorie 4 (1)</label>
                                        </div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[5]" id="param[5]">
                                            <label for="param[5]" class="text--regular">categorie 5 (15)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <h6 class="text--uppercase text--bold mb-12 text--sm">Typ licence</h6>
                                    <div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[112]" id="param[112]">
                                            <label for="param[112]" class="text--regular">categorie 1 (6)</label>
                                        </div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[2]" id="param[2]">
                                            <label for="param[2]" class="text--regular">categorie 2 (12)</label>
                                        </div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[3]" id="param[3]">
                                            <label for="param[3]" class="text--regular">categorie 3 (2)</label>
                                        </div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[4]" id="param[4]">
                                            <label for="param[4]" class="text--regular">categorie 4 (1)</label>
                                        </div>
                                        <div class="input input--checkbox my-12">
                                            <input type="checkbox" name="param[5]" id="param[5]">
                                            <label for="param[5]" class="text--regular">categorie 5 (15)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <h6 class="text--uppercase text--bold mb-12 text--sm">Cena</h6>
                                    <div>
                                        <div class="input input--range" js-id="input::range#price" data-unit="Kč">
                                            <input type="range" name="min_price" step="0.5" min="118" max="3499" data-label="od">
                                            <input type="range" name="max_price" step="0.5" min="118" max="3499" data-label="do">
                                        </div>
                                    </div>
                                </div>
                                <div class="col flex-grow">
                                    <div class="d-flex align-end justify-end h-100">
                                        <button class="btn btn--link btn--icon btn--red text--unset">
                                            <i class="bi bi-trash3"></i>
                                            <span>Vymazat filter</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-24">
            <div class="cols">
                <div class="col 6-xs 3-md">
                    <div class="product__card mx-auto">
                        <div class="product__card--preview">
                            <div class="product__card--gallery">
                                <a href="product.html" class="product__card--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__card--badges">
                                <span class="badge badge--green">
                                    Nová licence
                                </span>
                                <span class="badge badge--primary">
                                    Okamžité dodání
                                </span>
                                <span class="badge badge--orange">
                                    Druhotná licence
                                </span>
                            </div>
                            <button type="button" class="product__card--button__wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="product__card--button">
                                <span class="product__card--button__text">Přidat do košíku</span>
                                <i class="bi bi-cart product__card--button__icon"></i>
                            </button>
                        </div>
                        <div class="product__card--name">
                            <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                            <div class="d-flex align-center justify-between">
                                <div class="text--center">
                                    <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                    <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                    <span>s DPH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col 6-xs 3-md">
                    <div class="product__card mx-auto">
                        <div class="product__card--preview">
                            <div class="product__card--gallery">
                                <a href="product.html" class="product__card--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__card--badges">
                                <span class="badge badge--green">
                                    Nová licence
                                </span>
                                <span class="badge badge--primary">
                                    Okamžité dodání
                                </span>
                                <span class="badge badge--orange">
                                    Druhotná licence
                                </span>
                            </div>
                            <button type="button" class="product__card--button__wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="product__card--button">
                                <span class="product__card--button__text">Přidat do košíku</span>
                                <i class="bi bi-cart product__card--button__icon"></i>
                            </button>
                        </div>
                        <div class="product__card--name">
                            <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                            <div class="d-flex align-center justify-between">
                                <div class="text--center">
                                    <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                    <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                    <span>s DPH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col 6-xs 3-md">
                    <div class="product__card mx-auto">
                        <div class="product__card--preview">
                            <div class="product__card--gallery">
                                <a href="product.html" class="product__card--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__card--badges">
                                <span class="badge badge--green">
                                    Nová licence
                                </span>
                                <span class="badge badge--primary">
                                    Okamžité dodání
                                </span>
                                <span class="badge badge--orange">
                                    Druhotná licence
                                </span>
                            </div>
                            <button type="button" class="product__card--button__wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="product__card--button">
                                <span class="product__card--button__text">Přidat do košíku</span>
                                <i class="bi bi-cart product__card--button__icon"></i>
                            </button>
                        </div>
                        <div class="product__card--name">
                            <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                            <div class="d-flex align-center justify-between">
                                <div class="text--center">
                                    <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                    <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                    <span>s DPH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col 6-xs 3-md">
                    <div class="product__card mx-auto">
                        <div class="product__card--preview">
                            <div class="product__card--gallery">
                                <a href="product.html" class="product__card--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__card--badges">
                                <span class="badge badge--green">
                                    Nová licence
                                </span>
                                <span class="badge badge--primary">
                                    Okamžité dodání
                                </span>
                                <span class="badge badge--orange">
                                    Druhotná licence
                                </span>
                            </div>
                            <button type="button" class="product__card--button__wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="product__card--button">
                                <span class="product__card--button__text">Přidat do košíku</span>
                                <i class="bi bi-cart product__card--button__icon"></i>
                            </button>
                        </div>
                        <div class="product__card--name">
                            <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                            <div class="d-flex align-center justify-between">
                                <div class="text--center">
                                    <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                    <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                    <span>s DPH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col 6-xs 3-md">
                    <div class="product__card mx-auto">
                        <div class="product__card--preview">
                            <div class="product__card--gallery">
                                <a href="product.html" class="product__card--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__card--badges">
                                <span class="badge badge--green">
                                    Nová licence
                                </span>
                                <span class="badge badge--primary">
                                    Okamžité dodání
                                </span>
                                <span class="badge badge--orange">
                                    Druhotná licence
                                </span>
                            </div>
                            <button type="button" class="product__card--button__wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="product__card--button">
                                <span class="product__card--button__text">Přidat do košíku</span>
                                <i class="bi bi-cart product__card--button__icon"></i>
                            </button>
                        </div>
                        <div class="product__card--name">
                            <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                            <div class="d-flex align-center justify-between">
                                <div class="text--center">
                                    <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                    <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                    <span>s DPH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col 6-xs 3-md">
                    <div class="product__card mx-auto">
                        <div class="product__card--preview">
                            <div class="product__card--gallery">
                                <a href="product.html" class="product__card--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__card--badges">
                                <span class="badge badge--green">
                                    Nová licence
                                </span>
                                <span class="badge badge--primary">
                                    Okamžité dodání
                                </span>
                                <span class="badge badge--orange">
                                    Druhotná licence
                                </span>
                            </div>
                            <button type="button" class="product__card--button__wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="product__card--button">
                                <span class="product__card--button__text">Přidat do košíku</span>
                                <i class="bi bi-cart product__card--button__icon"></i>
                            </button>
                        </div>
                        <div class="product__card--name">
                            <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                            <div class="d-flex align-center justify-between">
                                <div class="text--center">
                                    <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                    <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                    <span>s DPH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col 6-xs 3-md">
                    <div class="product__card mx-auto">
                        <div class="product__card--preview">
                            <div class="product__card--gallery">
                                <a href="product.html" class="product__card--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__card--badges">
                                <span class="badge badge--green">
                                    Nová licence
                                </span>
                                <span class="badge badge--primary">
                                    Okamžité dodání
                                </span>
                                <span class="badge badge--orange">
                                    Druhotná licence
                                </span>
                            </div>
                            <button type="button" class="product__card--button__wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="product__card--button">
                                <span class="product__card--button__text">Přidat do košíku</span>
                                <i class="bi bi-cart product__card--button__icon"></i>
                            </button>
                        </div>
                        <div class="product__card--name">
                            <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                            <div class="d-flex align-center justify-between">
                                <div class="text--center">
                                    <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                    <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                    <span>s DPH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col 6-xs 3-md">
                    <div class="product__card mx-auto">
                        <div class="product__card--preview">
                            <div class="product__card--gallery">
                                <a href="product.html" class="product__card--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__card--badges">
                                <span class="badge badge--green">
                                    Nová licence
                                </span>
                                <span class="badge badge--primary">
                                    Okamžité dodání
                                </span>
                                <span class="badge badge--orange">
                                    Druhotná licence
                                </span>
                            </div>
                            <button type="button" class="product__card--button__wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="product__card--button">
                                <span class="product__card--button__text">Přidat do košíku</span>
                                <i class="bi bi-cart product__card--button__icon"></i>
                            </button>
                        </div>
                        <div class="product__card--name">
                            <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                            <div class="d-flex align-center justify-between">
                                <div class="text--center">
                                    <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                    <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                    <span>s DPH</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <ul class="d-flex align-center justify-center">
                <li>
                    <a href="?page=1" class="btn btn--pagination mx-6">
                        <i class="bi bi-chevron-double-left"></i>
                    </a>
                </li>
                <li>
                    <a href="?page=1" class="btn btn--pagination mx-6 is-active">1</a>
                </li>
                <li>
                    <a href="?page=2" class="btn btn--pagination mx-6">2</a>
                </li>
                <li>
                    <a href="?page=3" class="btn btn--pagination mx-6">3</a>
                </li>
                <li>
                    <span class="mx-6">...</span>
                </li>
                <li>
                    <a href="?page=3" class="btn btn--pagination mx-6">
                        <i class="bi bi-chevron-double-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}