{% extends "layout/layout.html" %}

{% block content %}
<section class="my-xs-48 min-h-full">
    <div class="container">
        <h1 class="mb-8">Komponenty</h1>
        <p>Provizorní stránka pro stylování komponentů jako jsou <code>tlačítka</code>, <code>inputy</code>, <code>produktové karty</code> a jiné.</p>
        <hr class="my-12">
        <h3>Tlačítka</h3>
        <div class="btn--btn">
            <!-- Tady přijdou elementy tlačítek pro nastylování -->
            <div class="btn--btn--normal">
                <a href="" class="normal">ZOBRAZIŤ KOŠÍK</a>
                <a href="" class="btn btn--normal">POKLADŇA</a>
            </div>
            <div class="btn--small">
                <a href="" class="btn btn--sm">ZOBRAZIŤ KOŠÍK</a>
                <a href="" class="btn btn--sm">POKLADŇA</a>
            </div>
            <div class="btn--large">
                <a href="" class="btn btn--lg">ZOBRAZIŤ KOŠÍK</a>
                <a href="" class="btn btn--lg">POKLADŇA</a>
            </div>
        </div>
        <h3>Ikonky</h3>
        <div>
            <!-- Tady přijdou elementy ikonek pro nastylování -->
            <div class="d-flex align-center">
                <i class="bi bi-person fs-24 mr-4"></i>
                <p>uživatel</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}