{% extends "layout/layout.html" %}

{% block content %}
<section class="my-xs-48 min-h-full">
    <div class="container">
        <h1 class="mb-8">Komponenty</h1>
        <p>Provizorní stránka pro stylování komponentů jako jsou <code>tlačítka</code>, <code>inputy</code>, <code>produktové karty</code> a jiné.</p>
        <hr class="my-12">
        <h3>Tlačítka</h3>
        <div>
            <!-- Tady přijdou elementy tlačítek pro nastylování -->
            <a href="" class="btn btn--secondary">ZOBRAZIŤ KOŠÍK</a>
            <a href="" class="btn">POKLADŇA</a> 
            <a href="" class="btn btn--sm btn--secondary">ZOBRAZIŤ KOŠÍK</a>
            <a href="" class="btn btn--sm">POKLADŇA</a>
            <a href="" class="btn btn--lg btn--secondary">ZOBRAZIŤ KOŠÍK</a>
            <a href="" class="btn btn--lg">POKLADŇA</a>
            <a href="" class="btn is-disabled">Tlačítko</a>
            <a href="" class="btn is-loading">Loading</a>
            <a class="btn btn--icon">
                <i class="bi bi-bar-chart"></i>
                <span>Tlačítko</span>
            </a>
            <a class="btn btn--icon">
                <span>Tlačítko</span>
                <i class="bi bi-bar-chart"></i>
            </a>
            <a class="btn btn--icon">
                <i class="bi bi-bar-chart"></i>
            </a>
            <button class="btn" disabled>TTllacciitkoo</button>
        </div>
        <hr class="my-12">
        <h3>Badge</h3>
        <div>
            <!--Badge-->
            <span class="badge">Okamžité dodanie</span>
            <span class="badge badge--orange">Druhotná licencia</span>
            <span class="badge badge--green">Nová licencia</span>
            <span class="badge badge--sm">Okamžité dodanie</span>
            <span class="badge badge--sm badge--orange">Druhotná licencia</span>
            <span class="badge badge--sm badge--green">Nová licencia</span>
        </div>
        <hr class="my-12">
        <h3>Alert</h3>
        <div>
            <div class="alert my-8" js-id="action#alert1">
                <div>
                    <i class="bi bi-check-circle"></i>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
                <button type="button" js-id="action@click(remove)#alert1">
                    <i class="bi bi-x"></i>               
                </button>
            </div>
            <div class="alert alert--error my-8" js-id="action#alert2">
                <div>
                    <i class="bi bi-x-circle"></i>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
                <button type="button" js-id="action@click(remove)#alert2">
                    <i class="bi bi-x"></i>               
                </button>
            </div>
            <div class="alert alert--warning my-8" js-id="action#alert3">
                <div>
                    <i class="bi bi-exclamation-triangle"></i>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
                <button type="button" js-id="action@click(remove)#alert3">
                    <i class="bi bi-x"></i>               
                </button>
            </div>
            <div class="alert alert--info my-8" js-id="action#alert4">
                <div>
                    <i class="bi bi-info-circle"></i>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
                <button type="button" js-id="action@click(remove)#alert4">
                    <i class="bi bi-x"></i>               
                </button>
            </div>
        </div>
        <hr class="my-12">
        <h3>Breadcrumbs</h3>
        <div>
            <ul class="breadcrumb">
                <li>
                    <a href="">Domov</a>
                </li>
                <li>
                    <a href="">Microsoft Office</a>
                </li>
                <li>
                    Podnikatelia
                </li>
            </ul>
        </div>

        <hr class="my-12">
        <h3>Section Header</h3>
        <div>
            <div class="section__header mb-24">
                <div class="container">
                    <div class="d-flex align-center justify-center">
                        <a href="" class="section__header--icon">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                        <h3>Windows</h3>
                    </div>
                </div>
            </div>
            <div class="section__header mb-24">
                <div class="container d-flex flex-column">
                    <div class="d-flex align-center justify-center mb-8">
                        <h3>Windows</h3>
                    </div>
                    <ul class="breadcrumb breadcrumb--light">
                        <li>
                            <a href="">Domov</a>
                        </li>
                        <li>
                            Certifikáty
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-12">
        <h3>Inputy</h3>
        <div>
            <div class="input is-required">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="input">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="input">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="mate23.krenek@gmial.com">
            </div>
            <div class="input">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" disabled>
            </div>
            <div class="input">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="input">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" readonly>
            </div>
            <div class="input">
                <label for="note">Poznámka</label>
                <textarea name="note" id="note" cols="30" rows="10" disabled></textarea>
            </div>
            <div class="input input--checkbox">
                <input type="checkbox" name="check" id="check">
                <label for="check">Check</label>
            </div>
            <div class="input input--radio">
                <input type="radio" name="radio" id="radio">
                <label for="radio">Check</label>
            </div>
            <div class="input input--toggle">
                <input type="checkbox" name="toggle" id="toggle">
                <label for="toggle">Check</label>
            </div>
            <div class="input input--checkbox is-required">
                <input type="checkbox" name="check2" id="check2" checked disabled>
                <label for="check2">Check</label>
            </div>
            <div class="input input--radio">
                <input type="radio" name="radio2" id="radio2" checked disabled>
                <label for="radio2">Check</label>
            </div>
            <div class="input input--toggle">
                <input type="checkbox" name="toggle2" id="toggle2" checked disabled>
                <label for="toggle2">Check</label>
            </div>
        </div>
        <hr class="my-12">
        <h3>Produktové karty</h3>
        <div class="cols">
            <div class="product__card">
                <div class="product__card--preview">
                    <div class="product__card--gallery">
                        <a href="product.html" class="product__card--image">
                            <img src="./assets/images/products/placeholder-image.jpg" alt="">
                        </a>
                    </div>
                    <div class="product__card--badges">
                        <span class="badge badge--green">
                            Nová licence
                        </span>
                        <span class="badge badge--primary">
                            Okamžité dodání
                        </span>
                        <span class="badge badge--orange">
                            Druhotná licence
                        </span>
                    </div>
                    <button type="button" class="product__card--button__wishlist">
                        <i class="bi bi-heart-fill"></i>
                    </button>
                    <button type="button" class="product__card--button">
                        <span class="product__card--button__text">Přidat do košíku</span>
                        <i class="bi bi-cart product__card--button__icon"></i>
                    </button>
                </div>
                <div class="product__card--name">
                    <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                    <div class="d-flex align-center justify-between">
                        <div>
                            <span class="text--linethrough text--rg text--grey">99.90 €</span>
                            <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                            <span>s DPH</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}