{% extends "layout/layout.html" %}

{% block content %}
<section class="my-xs-48 min-h-full">
    <div class="container">
        <h1 class="mb-8">Komponenty</h1>
        <p>Provizorní stránka pro stylování komponentů jako jsou <code>tlačítka</code>, <code>inputy</code>, <code>produktové karty</code> a jiné.</p>
        <hr class="my-12">
        <h3>Tlačítka</h3>
        <div>
            <!-- Tady přijdou elementy tlačítek pro nastylování -->
            <a href="" class="btn btn--secondary">ZOBRAZIŤ KOŠÍK</a>
            <a href="" class="btn">POKLADŇA</a> 
            <a href="" class="btn btn--sm btn--secondary">ZOBRAZIŤ KOŠÍK</a>
            <a href="" class="btn btn--sm">POKLADŇA</a>
            <a href="" class="btn btn--lg btn--secondary">ZOBRAZIŤ KOŠÍK</a>
            <a href="" class="btn btn--lg">POKLADŇA</a>
            <a href="" class="btn is-disabled">Tlačítko</a>
            <a href="" class="btn is-loading">Loading</a>
            <a class="btn btn--icon">
                <i class="bi bi-bar-chart"></i>
                <span>Tlačítko</span>
            </a>
            <a class="btn btn--icon">
                <span>Tlačítko</span>
                <i class="bi bi-bar-chart"></i>
            </a>
            <a class="btn btn--icon">
                <i class="bi bi-bar-chart"></i>
            </a>
            <button class="btn" disabled>TTllacciitkoo</button>
        </div>
        <hr class="my-12">
        <h3>Badge</h3>
        <div>
            <!--Badge-->
            <span class="badge">Okamžité dodanie</span>
            <span class="badge badge--orange">Druhotná licencia</span>
            <span class="badge badge--green">Nová licencia</span>
            <span class="badge badge--sm">Okamžité dodanie</span>
            <span class="badge badge--sm badge--orange">Druhotná licencia</span>
            <span class="badge badge--sm badge--green">Nová licencia</span>
        </div>
        <hr class="my-12">
        <h3>Alert</h3>
        <div>
            <div class="alert my-8" js-id="action#alert1">
                <div class="alert--icon">
                    <i class="bi bi-check-circle"></i>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
                <button type="button" class="alert--btn" js-id="action@click(remove)#alert1">
                    <i class="bi bi-x"></i>               
                </button>
            </div>
            <div class="alert alert--error my-8" js-id="action#alert2">
                <div class="alert--icon">
                    <i class="bi bi-x-circle"></i>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
                <button type="button" class="alert--btn" js-id="action@click(remove)#alert2">
                    <i class="bi bi-x"></i>               
                </button>
            </div>
            <div class="alert alert--warning my-8" js-id="action#alert3">
                <div class="alert--icon">
                    <i class="bi bi-exclamation-triangle"></i>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
                <button type="button" class="alert--btn" js-id="action@click(remove)#alert3">
                    <i class="bi bi-x"></i>               
                </button>
            </div>
            <div class="alert alert--info my-8" js-id="action#alert4">
                <div class="alert--icon">
                    <i class="bi bi-info-circle"></i>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
                <button type="button" class="alert--btn" js-id="action@click(remove)#alert4">
                    <i class="bi bi-x"></i>               
                </button>
            </div>
        </div>
        <hr class="my-12">
        <h3>Breadcrumbs</h3>
        <div>
            <ul class="breadcrumb">
                <li class="breadcrumb--item">
                    <a href="">Domov</a>
                </li>
                <li class="breadcrumb--item">
                    <a href="">Microsoft Office</a>
                </li>
                <li class="breadcrumb--item">
                    Podnikatelia
                </li>
            </ul>
        </div>



        <hr class="my-12">
        <h3>Ikonky</h3>
        <div>
            <!-- Tady přijdou elementy ikonek pro nastylování -->
            <div class="d-flex align-center">
                <i class="bi bi-person fs-24 mr-4"></i>
                <p>uživatel</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}