{% extends "layout/layout.html" %}

{% block content %}
<section>
    <!-- Sem přijde header -->
    <div class="container">
        <div class="d-flex max-w-470 mx-auto py-20">
            <div class="py-24 x-40">
                <form action="">
                    <h3 class="mb-10 text--uppercase">Obnova hesla</h3>
                    <p>Stratili ste heslo? Prosím, zadajte používateľské meno, alebo e-mailovú adresu, na ktorú vám zašleme odkaz pre vytvorenie nového hesla.</p>
                    <hr class="hr--light my-20">
                    <div class="input is-required mb-20">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <button class="btn w-100">Obnovit heslo</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}