{% extends "layout/layout.html" %}

{% block content %}
<section class="mb-48">
    <div class="section__header mb-48">
        <div class="container d-flex flex-column">
            <div class="d-flex align-center justify-center mb-8">
                <h3>Windows</h3>
            </div>
            <ul class="breadcrumb breadcrumb--light">
                <li>
                    <a href="">Domov</a>
                </li>
                <li>
                    Certifikáty
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="mb-md-24 max-w-470 mx-auto">
            <div class="alert alert--info my-8" js-id="action#alert4">
                <div>
                    <i class="bi bi-info-circle"></i>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
                <button type="button" js-id="action@click(remove)#alert4">
                    <i class="bi bi-x"></i>               
                </button>
            </div>
        </div>
        <div class="d-flex max-w-470 mx-auto">
            <div class="py-24 w-100">
                <form action="">
                    <h5 class="mb-10 text--uppercase">Obnova hesla</h5>
                    <p>Stratili ste heslo? Prosím, zadajte používateľské meno, alebo e-mailovú adresu, na ktorú vám zašleme odkaz pre vytvorenie nového hesla.</p>
                    <hr class="hr--light my-20">
                    <div class="input is-required mb-20">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <button class="btn w-100">Obnovit heslo</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}