{% extends "layout/layout.html" %}

{% block content %}
<section class="mb-48 my-24">
    <div class="container">
        <div class="cols">
            <div class="col 3-xs d-xs-none d-lg-block">
                <ul class="menu mb-24" js-id="menu::recursive#main">
                    <li>
                        <a href="catalog.html">
                            <span>
                                Antiviry a zabezpečení
                            </span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul class="is-collapse">
                            <li>
                                <a href="catalog.html">
                                    <span>Avast</span>
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                                <ul class="is-collapse">
                                    <li>
                                        <a href="catalog.html">
                                            <span>Windows</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="catalog.html">
                                            <span>Alza</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="catalog.html">
                                    <span>Lenovo</span>
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                                <ul class="is-collapse">
                                    <li>
                                        <a href="catalog.html">
                                            <span>Eset</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="catalog.html">
                                            <span>AVG</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <span>Zálohování a obnova dat</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul class="is-collapse">
                            <li>
                                <a href="catalog.html">
                                    <span>Avast</span>
                                </a>
                            </li>
                            <li>
                                <a href="catalog.html">
                                    <span>AVG</span>
                                </a>
                            </li>
                            <li>
                                <a href="catalog.html">
                                    <span>Piriform</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="catalog.html">
                            <span>Zrychlení a optimalizace</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul class="is-collapse">
                            <li>
                                <a href="catalog.html">
                                    <span>Avast</span>
                                </a>
                            </li>
                            <li>
                                <a href="catalog.html">
                                    <span>AVG</span>
                                </a>
                            </li>
                            <li>
                                <a href="catalog.html">
                                    <span>Piriform</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <span>Operační systémy</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul class="is-collapse">
                            <li>
                                <a href="">
                                    <span>Avast</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>AVG</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Piriform</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <span>Kancelářské aplikace</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul class="is-collapse">
                            <li>
                                <a href="">
                                    <span>Avast</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>AVG</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Piriform</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <span>VPN</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul class="is-collapse">
                            <li>
                                <a href="">
                                    <span>AVG</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <span>Hry</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul class="is-collapse">
                            <li>
                                <a href="">
                                    <span>XBOX</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>PC</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Playstation</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <span>Náhodné klíče</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span>Výhodné balíčky</span>
                        </a>
                    </li>
                </ul>
                <div class="card card--shadow">
                    <div class="p-12 d-flex align-center justify-center">
                        <img src="https://www.bomshop.cz/assets/images/comparators/1.svg" alt="" class="image--sm">
                    </div>
                    <hr class="hr--light">
                    <div class="d-flex flex-column p-12 my-n10">
                        <div class="my-10">
                            <div class="d-flex align-center justify-between mb-8">
                                <div class="d-flex align-center">
                                    <span class="badge badge--rounded badge--gray mr-8">
                                        <i class="bi bi-person-fill text--black-300"></i>
                                    </span>
                                    <p class="text--sm text--bold text--black">Matěj Křenek</p>
                                </div>
                                <ul class="rating rating--stars rating--sm">
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill"></li>
                                </ul>
                            </div>
                            <div class="bg--light p-12 rounded">
                                <p class="text--sm text--black">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                        <div class="my-10">
                            <div class="d-flex align-center justify-between mb-8">
                                <div class="d-flex align-center">
                                    <span class="badge badge--rounded badge--gray mr-8">
                                        <i class="bi bi-person-fill text--black-300"></i>
                                    </span>
                                    <p class="text--sm text--bold text--black">Matěj Křenek</p>
                                </div>
                                <ul class="rating rating--stars rating--sm">
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill"></li>
                                </ul>
                            </div>
                            <div class="bg--light p-12 rounded">
                                <p class="text--sm text--black">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                        <div class="my-10">
                            <div class="d-flex align-center justify-between mb-8">
                                <div class="d-flex align-center">
                                    <span class="badge badge--rounded badge--gray mr-8">
                                        <i class="bi bi-person-fill text--black-300"></i>
                                    </span>
                                    <p class="text--sm text--bold text--black">Matěj Křenek</p>
                                </div>
                                <ul class="rating rating--stars rating--sm">
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill"></li>
                                </ul>
                            </div>
                            <div class="bg--light p-12 rounded">
                                <p class="text--sm text--black">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                        <div class="my-10">
                            <div class="d-flex align-center justify-between mb-8">
                                <div class="d-flex align-center">
                                    <span class="badge badge--rounded badge--gray mr-8">
                                        <i class="bi bi-person-fill text--black-300"></i>
                                    </span>
                                    <p class="text--sm text--bold text--black">Matěj Křenek</p>
                                </div>
                                <ul class="rating rating--stars rating--sm">
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill"></li>
                                </ul>
                            </div>
                            <div class="bg--light p-12 rounded">
                                <p class="text--sm text--black">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                        <div class="my-10">
                            <div class="d-flex align-center justify-between mb-8">
                                <div class="d-flex align-center">
                                    <span class="badge badge--rounded badge--gray mr-8">
                                        <i class="bi bi-person-fill text--black-300"></i>
                                    </span>
                                    <p class="text--sm text--bold text--black">Matěj Křenek</p>
                                </div>
                                <ul class="rating rating--stars rating--sm">
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill is-active"></li>
                                    <li class="bi bi-star-fill"></li>
                                </ul>
                            </div>
                            <div class="bg--light p-12 rounded">
                                <p class="text--sm text--black">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr--light">
                    <div>
                        <a href="https://obchody.heureka.cz/bomshop-cz/recenze/" class="link link--nounderline link--primary p-12 d-flex align-center justify-center"><span>Zobrazit více</span> <i class="bi bi-chevron-right fs-12"></i></a>
                    </div>
                </div>
            </div>
            <div class="col 12-xs 9-lg">
                <section class="splide mb-48"
                    js-id="carousel#landing"
                    data-options='{ "perPage": 1, "autoplay": true, "interval": 5000, "pagination": true, "gap": 0, "type": "loop" }'
                >
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide bg--shadow">
                                <img src="./assets/images/carousel/slide1.jpg" class="object-fit--cover max-h-560" />
                            </li>
                            <li class="splide__slide bg--shadow">
                                <img src="./assets/images/carousel/slide2.jpg" class="object-fit--cover max-h-560" />
                            </li>
                            <li class="splide__slide bg--shadow">
                                <img src="./assets/images/carousel/slide3.jpg" class="object-fit--cover max-h-560" />
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="mb-48">
                    <h4 class="text--center text--extraBold text--primary mb-12">Originálne elektronické licencie</h4>
                    <p class="text--center text--black text--lg mb-24">Windows, Microsoft Office, Antivírusy</p>
                    <div class="cols">
                        <div class="col 6-xs">
                            <div class="bg--shadow">
                                <img src="./assets/images/carousel/slide1.jpg" class="w-100" />
                            </div>
                        </div>
                        <div class="col 6-xs">
                            <div class="bg--shadow">
                                <img src="./assets/images/carousel/slide1.jpg" class="w-100" />
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mb-48">
                    <h2 class="text--center mb-48">Operační systémy</h2>
                    <div class="cols">
                        <div class="col 6-xs 3-md">
                            <div class="product__card mx-auto">
                                <div class="product__card--preview">
                                    <div class="product__card--gallery">
                                        <a href="product.html" class="product__card--image">
                                            <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product__card--badges">
                                        <span class="badge badge--green">
                                            Nová licence
                                        </span>
                                        <span class="badge badge--primary">
                                            Okamžité dodání
                                        </span>
                                        <span class="badge badge--orange">
                                            Druhotná licence
                                        </span>
                                    </div>
                                    <button type="button" class="product__card--button__wishlist">
                                        <i class="bi bi-heart-fill"></i>
                                    </button>
                                    <button type="button" class="product__card--button">
                                        <span class="product__card--button__text">Přidat do košíku</span>
                                        <i class="bi bi-cart product__card--button__icon"></i>
                                    </button>
                                </div>
                                <div class="product__card--name">
                                    <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                                    <div class="d-flex align-center justify-between">
                                        <div class="text--center">
                                            <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                            <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                            <span>s DPH</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col 6-xs 3-md">
                            <div class="product__card mx-auto">
                                <div class="product__card--preview">
                                    <div class="product__card--gallery">
                                        <a href="product.html" class="product__card--image">
                                            <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product__card--badges">
                                        <span class="badge badge--green">
                                            Nová licence
                                        </span>
                                        <span class="badge badge--primary">
                                            Okamžité dodání
                                        </span>
                                        <span class="badge badge--orange">
                                            Druhotná licence
                                        </span>
                                    </div>
                                    <button type="button" class="product__card--button__wishlist">
                                        <i class="bi bi-heart-fill"></i>
                                    </button>
                                    <button type="button" class="product__card--button">
                                        <span class="product__card--button__text">Přidat do košíku</span>
                                        <i class="bi bi-cart product__card--button__icon"></i>
                                    </button>
                                </div>
                                <div class="product__card--name">
                                    <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                                    <div class="d-flex align-center justify-between">
                                        <div class="text--center">
                                            <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                            <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                            <span>s DPH</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col 6-xs 3-md">
                            <div class="product__card mx-auto">
                                <div class="product__card--preview">
                                    <div class="product__card--gallery">
                                        <a href="product.html" class="product__card--image">
                                            <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product__card--badges">
                                        <span class="badge badge--green">
                                            Nová licence
                                        </span>
                                        <span class="badge badge--primary">
                                            Okamžité dodání
                                        </span>
                                        <span class="badge badge--orange">
                                            Druhotná licence
                                        </span>
                                    </div>
                                    <button type="button" class="product__card--button__wishlist">
                                        <i class="bi bi-heart-fill"></i>
                                    </button>
                                    <button type="button" class="product__card--button">
                                        <span class="product__card--button__text">Přidat do košíku</span>
                                        <i class="bi bi-cart product__card--button__icon"></i>
                                    </button>
                                </div>
                                <div class="product__card--name">
                                    <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                                    <div class="d-flex align-center justify-between">
                                        <div class="text--center">
                                            <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                            <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                            <span>s DPH</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col 6-xs 3-md">
                            <div class="product__card mx-auto">
                                <div class="product__card--preview">
                                    <div class="product__card--gallery">
                                        <a href="product.html" class="product__card--image">
                                            <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product__card--badges">
                                        <span class="badge badge--green">
                                            Nová licence
                                        </span>
                                        <span class="badge badge--primary">
                                            Okamžité dodání
                                        </span>
                                        <span class="badge badge--orange">
                                            Druhotná licence
                                        </span>
                                    </div>
                                    <button type="button" class="product__card--button__wishlist">
                                        <i class="bi bi-heart-fill"></i>
                                    </button>
                                    <button type="button" class="product__card--button">
                                        <span class="product__card--button__text">Přidat do košíku</span>
                                        <i class="bi bi-cart product__card--button__icon"></i>
                                    </button>
                                </div>
                                <div class="product__card--name">
                                    <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                                    <div class="d-flex align-center justify-between">
                                        <div class="text--center">
                                            <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                            <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                            <span>s DPH</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mb-48">
                    <h2 class="text--center mb-48">Kancelářské aplikace</h2>
                    <div class="cols">
                        <div class="col 6-xs 3-md">
                            <div class="product__card mx-auto">
                                <div class="product__card--preview">
                                    <div class="product__card--gallery">
                                        <a href="product.html" class="product__card--image">
                                            <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product__card--badges">
                                        <span class="badge badge--green">
                                            Nová licence
                                        </span>
                                        <span class="badge badge--primary">
                                            Okamžité dodání
                                        </span>
                                        <span class="badge badge--orange">
                                            Druhotná licence
                                        </span>
                                    </div>
                                    <button type="button" class="product__card--button__wishlist">
                                        <i class="bi bi-heart-fill"></i>
                                    </button>
                                    <button type="button" class="product__card--button">
                                        <span class="product__card--button__text">Přidat do košíku</span>
                                        <i class="bi bi-cart product__card--button__icon"></i>
                                    </button>
                                </div>
                                <div class="product__card--name">
                                    <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                                    <div class="d-flex align-center justify-between">
                                        <div class="text--center">
                                            <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                            <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                            <span>s DPH</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col 6-xs 3-md">
                            <div class="product__card mx-auto">
                                <div class="product__card--preview">
                                    <div class="product__card--gallery">
                                        <a href="product.html" class="product__card--image">
                                            <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product__card--badges">
                                        <span class="badge badge--green">
                                            Nová licence
                                        </span>
                                        <span class="badge badge--primary">
                                            Okamžité dodání
                                        </span>
                                        <span class="badge badge--orange">
                                            Druhotná licence
                                        </span>
                                    </div>
                                    <button type="button" class="product__card--button__wishlist">
                                        <i class="bi bi-heart-fill"></i>
                                    </button>
                                    <button type="button" class="product__card--button">
                                        <span class="product__card--button__text">Přidat do košíku</span>
                                        <i class="bi bi-cart product__card--button__icon"></i>
                                    </button>
                                </div>
                                <div class="product__card--name">
                                    <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                                    <div class="d-flex align-center justify-between">
                                        <div class="text--center">
                                            <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                            <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                            <span>s DPH</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col 6-xs 3-md">
                            <div class="product__card mx-auto">
                                <div class="product__card--preview">
                                    <div class="product__card--gallery">
                                        <a href="product.html" class="product__card--image">
                                            <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product__card--badges">
                                        <span class="badge badge--green">
                                            Nová licence
                                        </span>
                                        <span class="badge badge--primary">
                                            Okamžité dodání
                                        </span>
                                        <span class="badge badge--orange">
                                            Druhotná licence
                                        </span>
                                    </div>
                                    <button type="button" class="product__card--button__wishlist">
                                        <i class="bi bi-heart-fill"></i>
                                    </button>
                                    <button type="button" class="product__card--button">
                                        <span class="product__card--button__text">Přidat do košíku</span>
                                        <i class="bi bi-cart product__card--button__icon"></i>
                                    </button>
                                </div>
                                <div class="product__card--name">
                                    <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                                    <div class="d-flex align-center justify-between">
                                        <div class="text--center">
                                            <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                            <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                            <span>s DPH</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col 6-xs 3-md">
                            <div class="product__card mx-auto">
                                <div class="product__card--preview">
                                    <div class="product__card--gallery">
                                        <a href="product.html" class="product__card--image">
                                            <img src="./assets/images/products/placeholder-image.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product__card--badges">
                                        <span class="badge badge--green">
                                            Nová licence
                                        </span>
                                        <span class="badge badge--primary">
                                            Okamžité dodání
                                        </span>
                                        <span class="badge badge--orange">
                                            Druhotná licence
                                        </span>
                                    </div>
                                    <button type="button" class="product__card--button__wishlist">
                                        <i class="bi bi-heart-fill"></i>
                                    </button>
                                    <button type="button" class="product__card--button">
                                        <span class="product__card--button__text">Přidat do košíku</span>
                                        <i class="bi bi-cart product__card--button__icon"></i>
                                    </button>
                                </div>
                                <div class="product__card--name">
                                    <a href="products.detail.html" class="text--md text--center text--bold mb-8">Microsoft Office 2021 Professional Plus</a>
                                    <div class="d-flex align-center justify-between">
                                        <div class="text--center">
                                            <span class="text--linethrough text--rg text--grey">99.90 €</span>
                                            <span class="text--bold text--md text--primary mr-4">69.90 €</span>
                                            <span>s DPH</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock %}