{% extends "layout/layout.html" %}

{% block content %}
<section class="mb-48">
    <div class="section__header mb-48">
        <div class="container d-flex flex-column">
            <div class="d-flex align-center justify-center mb-8">
                <h3>Můj účet</h3>
            </div>
            <ul class="breadcrumb breadcrumb--light">
                <li>
                    <a href="">Domov</a>
                </li>
                <li>
                    Můj účet
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="cols">
            <div class="col 12-xs 3-md pr-24">
                <div>
                    <div>
                        <h6 class="text--uppercase text--lg px-16 pb-12">Můj účet</h6>
                    </div>
                    <hr class="hr--darker">
                    <div>
                        <ul>
                            <li>
                                <a href="myaccount.html" class="link link--side w-100 px-16 py-12">
                                    <i class="bi bi-person-circle"></i>
                                    Nástěnka
                                </a>
                            </li>
                            <li>
                                <a href="myaccount-settings.html" class="link link--side w-100 px-16 py-12">
                                    <i class="bi bi-gear"></i>
                                    Nastavení
                                </a>
                            </li>
                            <li>
                                <a href="myaccount-addresses.html" class="link link--side is-active w-100 px-16 py-12">
                                    <i class="bi bi-person-badge"></i>
                                    Adresář
                                </a>
                            </li>
                            <li>
                                <a href="myaccount-orders.html" class="link link--side w-100 px-16 py-12">
                                    <i class="bi bi-box2"></i>
                                    Objednávky
                                </a>
                            </li>
                            <li>
                                <hr class="hr--darker">
                            </li>
                            <li>
                                <a href="login.html" class="link link--side w-100 px-16 py-12">
                                    <i class="bi bi-box-arrow-right"></i>
                                    Odhlásit se
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col 12-xs 9-md pl-24">
                <div class="mb-24">
                    <h4 class="mb-8">Adresář</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </div>
                <div class="cols">
                    <div class="col 12-xs">
                        <div class="card card--shadow p-24 h-100">
                            <h5 class="text--lg text--black text--bold mb-24">Přídání adresy</h5>
                            <div class="alert alert--error mb-20" js-id="action#alert1">
                                <div>
                                    <i class="bi bi-exclamation-circle"></i>
                                    <p>Lorem ipsum dolor sit.</p>
                                </div>
                                <button type="button" js-id="action@click(remove)#alert1">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>
                            <form action="">
                                <div class="d-flex mb-20 mx-n10">
                                    <div class="input is-required flex-grow mx-10">
                                        <label for="first_name">Jméno</label>
                                        <input type="text" name="first_name" id="first_name">
                                    </div>
                                    <div class="input is-required flex-grow mx-10">
                                        <label for="last_name">Přijmení</label>
                                        <input type="text" name="last_name" id="last_name">
                                    </div>
                                </div>
                                <div class="d-flex mb-20 mx-n10">
                                    <div class="input is-required flex-grow mx-10">
                                        <label for="email">E-mail</label>
                                        <input type="text" name="email" id="email">
                                    </div>
                                    <div class="input is-required flex-grow mx-10">
                                        <label for="address">Adresa</label>
                                        <input type="text" name="address" id="address">
                                    </div>
                                </div>
                                <div class="d-flex mb-20 mx-n10">
                                    <div class="input is-required flex-grow mx-10">
                                        <label for="city">Město</label>
                                        <input type="text" name="city" id="city">
                                    </div>
                                    <div class="input is-required flex-grow mx-10">
                                        <label for="zipcode">PSČ</label>
                                        <input type="text" name="zipcode" id="zipcode">
                                    </div>
                                </div>
                                <div class="d-flex mb-20 mx-n10">
                                    <div class="input is-required flex-grow mx-10">
                                        <label for="country">země</label>
                                        <input type="text" name="country" id="country">
                                    </div>
                                    <div class="input is-required flex-grow mx-10">
                                        <label for="phone">Telefon</label>
                                        <input type="text" name="phone" id="phone">
                                    </div>
                                </div>
                                <div class="d-flex align-center justify-between">
                                    <a href="myaccount-addresses.html" class="btn btn--secondary">Zrušit</a>
                                    <button type="submit" class="btn">Přidat</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}