{% extends "layout/layout.html" %}

{% block content %}
<section class="mb-xs-24 mb-md-48">
    <!-- Sem přijde header -->
    <div class="container">
        <div class="cols">
            <div class="col 12-xs 3-md">
                <div class="card card--secondary">
                    <div class="card__header px-16 py-12">
                        <h6 class="text--unset">Můj účet</h6>
                    </div>
                    <div class="card__body">
                        <ul>
                            <li>
                                <a href="myaccount.html" class="link link--small w-100 px-16 py-12">
                                    <i class="bi bi-person-circle"></i>
                                    Nástěnka
                                </a>
                            </li>
                            <li>
                                <a href="myaccount-settings.html" class="link link--small is-active w-100 px-16 py-12">
                                    <i class="bi bi-gear"></i>
                                    Nastavení
                                </a>
                            </li>
                            <li>
                                <a href="myaccount-addresses.html" class="link link--small w-100 px-16 py-12">
                                    <i class="bi bi-person-badge"></i>
                                    Adresář
                                </a>
                            </li>
                            <li>
                                <a href="myaccount-orders.html" class="link link--small w-100 px-16 py-12">
                                    <i class="bi bi-box2"></i>
                                    Objednávky
                                </a>
                            </li>
                            <li>
                                <hr>
                            </li>
                            <li>
                                <a href="login.html" class="link link--small w-100 px-16 py-12">
                                    <i class="bi bi-box-arrow-right"></i>
                                    Odhlásit se
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col 12-xs 9-md">
                <div class="mb-16">
                    <h3>Objednávky</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </div>
                <div class="cols">
                    <div class="col 12-xs">
                        <div class="card card--secondary">
                            <div class="card__header px-16 py-12">
                                <h6 class="text--white">Všechny objednávky</h6>
                            </div>
                            <div class="card__body">
                                <div class="table__wrapper">
                                    <table class="table table--secondary min-w-600">
                                        <thead class="table__head">
                                            <tr class="table__row">
                                                <th class="table__cell">Id</th>
                                                <th class="table__cell">Vytvořená / Zaplacená</th>
                                                <th class="table__cell">Doklad</th>
                                                <th class="table__cell">Cena</th>
                                                <th class="table__cell">Stav objednávky</th>
                                                <th class="table__cell">Akce</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table__body">
                                            <tr class="table__row">
                                                <td class="table__cell">
                                                    <strong>#1</strong>
                                                </td>
                                                <td class="table__cell">
                                                    26.09.2021 10:00
                                                    <br>
                                                    nezaplacená
                                                </td>
                                                <td class="table__cell">
                                                    <div class="d-flex align-center justify-center">
                                                        <a href="" class="link link--medium link--regular link--blue mx-8" title="doklad">
                                                            <i class="bi bi-filetype-pdf"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td class="table__cell">
                                                    <strong>1 200 Kč</strong>
                                                </td>
                                                <td class="table__cell">
                                                    <span class="badge badge--default">nezaplacená</span>
                                                </td>
                                                <td class="table__cell">
                                                    <div class="d-flex align-center justify-center">
                                                        <a href="myaccount.orders.detail.html" class="link link--medium link--regular mx-8" title="detail">
                                                            <i class="bi bi-search"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="table__row">
                                                <td class="table__cell">
                                                    <strong>#2</strong>
                                                </td>
                                                <td class="table__cell">
                                                    26.09.2021 10:00
                                                    <br>
                                                    nezaplacená
                                                </td>
                                                <td class="table__cell">
                                                    <div class="d-flex align-center justify-center">
                                                        <div class="d-flex align-center justify-center">
                                                            <a href="" class="link link--medium link--regular link--blue mx-8" title="doklad">
                                                                <i class="bi bi-filetype-pdf"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="table__cell">
                                                    <strong>1 200 Kč</strong>
                                                </td>
                                                <td class="table__cell">
                                                    <span class="badge badge--green">dokončená</span>
                                                </td>
                                                <td class="table__cell">
                                                    <div class="d-flex align-center justify-center">
                                                        <a href="myaccount.orders.detail.html" class="link link--medium link--regular mx-8" title="detail">
                                                            <i class="bi bi-search"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="table__row">
                                                <td class="table__cell">
                                                    <strong>#3</strong>
                                                </td>
                                                <td class="table__cell">
                                                    26.09.2021 10:00
                                                    <br>
                                                    nezaplacená
                                                </td>
                                                <td class="table__cell">
                                                    <div class="d-flex align-center justify-center">
                                                        <div class="d-flex align-center justify-center">
                                                            <a href="" class="link link--medium link--regular link--blue mx-8" title="doklad">
                                                                <i class="bi bi-filetype-pdf"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="table__cell">
                                                    <strong>1 200 Kč</strong>
                                                </td>
                                                <td class="table__cell">
                                                    <span class="badge badge--blue">probíhající</span>
                                                </td>
                                                <td class="table__cell">
                                                    <div class="d-flex align-center justify-center">
                                                        <a href="myaccount.orders.detail.html" class="link link--medium link--regular mx-8" title="detail">
                                                            <i class="bi bi-search"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="table__row">
                                                <td class="table__cell">
                                                    <strong>#4</strong>
                                                </td>
                                                <td class="table__cell">
                                                    26.09.2021 10:00
                                                    <br>
                                                    nezaplacená
                                                </td>
                                                <td class="table__cell">
                                                    <div class="d-flex align-center justify-center">
                                                        ---
                                                    </div>
                                                </td>
                                                <td class="table__cell">
                                                    <strong>1 200 Kč</strong>
                                                </td>
                                                <td class="table__cell">
                                                    <span class="badge badge--red">stornovaná</span>
                                                </td>
                                                <td class="table__cell">
                                                    <div class="d-flex align-center justify-center">
                                                        <a href="myaccount.orders.detail.html" class="link link--medium link--regular mx-8" title="detail">
                                                            <i class="bi bi-search"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <hr>
                                <div class=" py-12">
                                    <ul class="d-flex align-center justify-center">
                                        <li>
                                            <a href="?page=1" class="btn btn--small btn--pagination mx-4">
                                                <i class="bi bi-chevron-double-left"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="?page=1" class="btn btn--small btn--pagination mx-4 is-active">1</a>
                                        </li>
                                        <li>
                                            <a href="?page=2" class="btn btn--small btn--pagination mx-4">2</a>
                                        </li>
                                        <li>
                                            <a href="?page=3" class="btn btn--small btn--pagination mx-4">3</a>
                                        </li>
                                        <li>
                                            <span class="mx-6">...</span>
                                        </li>
                                        <li>
                                            <a href="?page=3" class="btn btn--small btn--pagination mx-4">
                                                <i class="bi bi-chevron-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}