{% extends "layout/layout.html" %}

{% block content %}
<section class="mb-xs-24 mb-md-48">
    <!-- Sem přijde header -->
    <div class="container">
        <div class="cols">
            <div class="col 12-xs 3-md">
                <div class="card card--secondary">
                    <div class="card__header px-16 py-12">
                        <h6 class="text--unset">Můj účet</h6>
                    </div>
                    <div class="card__body">
                        <ul>
                            <li>
                                <a href="myaccount.html" class="link link--small w-100 px-16 py-12">
                                    <i class="bi bi-person-circle"></i>
                                    Nástěnka
                                </a>
                            </li>
                            <li>
                                <a href="myaccount-settings.html" class="link link--small is-active w-100 px-16 py-12">
                                    <i class="bi bi-gear"></i>
                                    Nastavení
                                </a>
                            </li>
                            <li>
                                <a href="myaccount-addresses.html" class="link link--small w-100 px-16 py-12">
                                    <i class="bi bi-person-badge"></i>
                                    Adresář
                                </a>
                            </li>
                            <li>
                                <a href="myaccount-orders.html" class="link link--small w-100 px-16 py-12">
                                    <i class="bi bi-box2"></i>
                                    Objednávky
                                </a>
                            </li>
                            <li>
                                <hr>
                            </li>
                            <li>
                                <a href="login.html" class="link link--small w-100 px-16 py-12">
                                    <i class="bi bi-box-arrow-right"></i>
                                    Odhlásit se
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col 12-xs 9-md">
                <div class="mb-16">
                    <h3>Nastavení</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ratione cum molestiae?</p>
                </div>
                <div class="cols">
                    <div class="col 12-xs">
                        <div class="card card--secondary h-100">
                            <div class="card__header px-16 py-12">
                                <h6 class="text--white">Nastavení účtu</h6>
                            </div>
                            <div class="card__body p-xs-20 p-md-24">
                                <div class="alert alert--error mb-xs-20 mb-md-24" shop-id="action#alert1">
                                    <div>
                                        <i class="bi bi-exclamation-circle"></i>
                                        <p>Lorem ipsum dolor sit.</p>
                                    </div>
                                    <button type="button" shop-id="action@click(remove)#alert1">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                </div>
                                <form action="">
                                    <div class="input flex-grow mb-xs-20 mb-md-24">
                                        <label for="email">E-mail</label>
                                        <input type="email" name="email" id="email">
                                    </div>
                                    <div class="d-flex mb-xs-20 mb-md-24 mx-xs-n12">
                                        <div class="input flex-grow mx-xs-12">
                                            <label for="password">Heslo</label>
                                            <input type="password" name="password" id="password">
                                        </div>
                                        <div class="input flex-grow mx-xs-12">
                                            <label for="password_confirmation">Heslo znovu</label>
                                            <input type="password" name="password_confirmation" id="password_confirmation">
                                        </div>
                                    </div>
                                    <div class="d-flex align-center justify-end">
                                        <button type="submit" class="btn btn--black">Uložit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}