{% extends "layout/layout.html" %}

{% block content %}
<section class="mb-48">
    <div class="section__header mb-48">
        <div class="container d-flex flex-column">
            <div class="d-flex align-center justify-center mb-8">
                <h3>Můj účet</h3>
            </div>
            <ul class="breadcrumb breadcrumb--light">
                <li>
                    <a href="">Domov</a>
                </li>
                <li>
                    Můj účet
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="cols">
            <div class="col 12-xs 3-md pr-24">
                <div class="card card--shadow">
                    <div class="px-16 py-12">
                        <h6 class="text--uppercase text--lg">Můj účet</h6>
                    </div>
                    <hr class="hr--light">
                    <div>
                        <ul>
                            <li>
                                <a href="myaccount.html" class="link link--side is-active w-100 px-16 py-12">
                                    <i class="bi bi-person-circle"></i>
                                    Nástěnka
                                </a>
                            </li>
                            <li>
                                <a href="myaccount-settings.html" class="link link--side w-100 px-16 py-12">
                                    <i class="bi bi-gear"></i>
                                    Nastavení
                                </a>
                            </li>
                            <li>
                                <a href="myaccount-addresses.html" class="link link--side w-100 px-16 py-12">
                                    <i class="bi bi-person-badge"></i>
                                    Adresář
                                </a>
                            </li>
                            <li>
                                <a href="myaccount-orders.html" class="link link--side w-100 px-16 py-12">
                                    <i class="bi bi-box2"></i>
                                    Objednávky
                                </a>
                            </li>
                            <li>
                                <hr class="hr--light">
                            </li>
                            <li>
                                <a href="login.html" class="link link--side w-100 px-16 py-12">
                                    <i class="bi bi-box-arrow-right"></i>
                                    Odhlásit se
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col 12-xs 9-md">
                <div class="cols">
                    <div class="col 12-xs">
                        <div class="alert alert--info">
                            <div>
                                <p class="fs-16">Dárek <strong>zdarma</strong> k objednávce</p>
                            </div>
                            <i class="bi bi-gift fs-24"></i>
                        </div>
                    </div>
                    <div class="col 12-xs 6-md">
                        <div class="card card--shadow p-24 h-100">
                            <h5 class="text--lg text--black text--bold mb-24">Kontaktní informace</h5>
                            <div class="d-flex align-center justify-between">
                                <p class="text--bold text--black">Jméno a přijmení:</p>
                                <p>Matěj Křenek</p>
                            </div>
                            <div class="d-flex align-center justify-between">
                                <p class="text--bold text--black">E-mail:</p>
                                <p>matej.krenekk@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col 12-xs 6-md">
                        <div class="card card--shadow p-24 h-100">
                            <h5 class="text--lg text--black text--bold mb-24">Zasílání novinek mailem</h5>
                            <div class="input input--toggle">
                                <input type="checkbox" name="subscribe" id="subscribe" checked>
                                <label for="subscribe" class="text--regular text--notransform">Přihlásit k odběru zpravodaje</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}