{% extends "layout/layout.html" %}

{% block content %}
<section class="mb-48">
    <div class="section__header mb-48">
        <div class="container d-flex flex-column">
            <div class="d-flex align-center justify-center mb-8">
                <h3>Informace</h3>
            </div>
            <ul class="breadcrumb breadcrumb--light">
                <li>
                    <a href="">Domov</a>
                </li>
                <li>
                    Informace
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="mb-24">
            <h5 class="text--center text--extraBold">Provozní doba</h5>
        </div>
        <div class="cols 12-xs 6-tn 3-md">
            <div class="col">
                <div class="card card--rounded h-100">
                    <div class="card__body p-24">
                        <p class="text--uppercase text--black text--bold text--md mb-12">Kontakt</p>
                        <p class="text--sm">
                            <strong class="text--black">E-mail: </strong>
                            <a href="" class="link">info@example.com</a>
                            <br>
                            <strong class="text--black">Facebook: </strong>
                            <a href="" class="link">example.com</a>
                            <br>
                            <strong class="text--black">Instagram: </strong>
                            <a href="" class="link">example.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card--rounded h-100">
                    <div class="card__body p-24">
                        <p class="text--uppercase text--black text--bold text--md mb-12">Provozní doba</p>
                        <p class="text--sm">
                            <strong class="text--black">Pondělí: </strong>
                            8:00 - 16:00
                            <br>
                            <strong class="text--black">Úterý: </strong>
                            8:00 - 16:00
                            <br>
                            <strong class="text--black">Středa: </strong>
                            8:00 - 16:00
                            <br>
                            <strong class="text--black">Čtvrtek: </strong>
                            8:00 - 16:00
                            <br>
                            <strong class="text--black">Pátek: </strong>
                            8:00 - 16:00
                            <br>
                            <strong class="text--black">Sobota: </strong>
                            Zavřeno
                            <br>
                            <strong class="text--black">Neděle: </strong>
                            Zavřeno
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card--rounded h-100">
                    <div class="card__body p-24">
                        <p class="text--uppercase text--black text--bold text--md mb-12">Vyřizování objednávek</p>
                        <p class="text--sm">
                            <strong class="text--black">Pondělí: </strong>
                            Nonstop
                            <br>
                            <strong class="text--black">Úterý: </strong>
                            Nonstop
                            <br>
                            <strong class="text--black">Středa: </strong>
                            Nonstop
                            <br>
                            <strong class="text--black">Čtvrtek: </strong>
                            Nonstop
                            <br>
                            <strong class="text--black">Pátek: </strong>
                            Nonstop
                            <br>
                            <strong class="text--black">Sobota: </strong>
                            Nonstop
                            <br>
                            <strong class="text--black">Neděle: </strong>
                            Nonstop
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card--rounded h-100">
                    <div class="card__body p-24">
                        <p class="text--uppercase text--black text--bold text--md mb-12">Kontaktní adresa</p>
                        <p class="text--sm">
                            Matěj Křenek
                            <br>
                            Lesní 803
                            <br>
                            Orlová 73514
                            <br>
                            Česká republika
                            <br>
                            IČ: 09380582
                            <br>
                            Neplátce DPH
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}