{% extends "layout/layout.html" %}

{% block content %}
<section class="my-48">
    <div class="container">
        <div class="cols 12-xs 6-md">
            <div class="col">
                <div class="card">
                    <div class="card__header">
                        <h6 class="text--uppercase text--md">Informace k objednávce číslo #1053</h6>
                    </div>
                    <div class="card__body p-24">
                        <p>
                            Na vaši emailovou adresu Vám byly zaslány informace k objednávce, pokud neuskutečníte platbu zde, můžete provést platbu přes odkaz, který jsme Vám zaslali.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card__header">
                        <h6 class="text--uppercase text--md">Informace k platbě</h6>
                    </div>
                    <div class="card__body p-24">
                        <p class="text--divider my-8">
                            <span class="px-8 text--sm text--black-200">Platba bankovým prevodom</span>
                        </p>
                        <div>
                            <p class="d-flex align-center justify-between text--sm text--black">
                                <strong>Číslo účtu:</strong>
                                <span class="text--end">SK27 5600 0000 0019 0442 0002</span>
                            </p>
                            <p class="d-flex align-center justify-between text--sm text--black">
                                <strong>Viariabilný symbol:</strong>
                                <span class="text--end">1053</span>

                            </p>
                            <p class="d-flex align-center justify-between text--sm text--black">
                                <strong>Suma:</strong>
                                <span class="text--end">155 Kč</span>
                            </p>
                        </div>
                        <p class="text--divider my-8">
                            <span class="px-8 text--sm text--black-200">alebo použite platobnú bránu</span>
                        </p>
                        <a href="payment-success.html" class="btn btn--icon w-100">
                            <i class="bi bi-credit-card fs-16"></i>
                            <span>Přejít k platbě</span>
                        </a>
                        <p class="text--divider my-8">
                            <span class="px-8 text--sm text--black-200">platobné metódy</span>
                        </p>
                        <div class="d-flex align-center justify-center">
                            <img src="./assets/images/payments.png" alt="payment methods" class="w-100 max-w-250">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}