{% extends "layout/layout.html" %}

{% block content %}
<section class="my-48">
    <div class="container">
        <div class="d-flex text--center flex-column align-center justify-center">
            <div class="w-lg-50 w-md-70">
                <i class="bi bi-check-circle fs-48 fs-sm-56 fs-lg-64 text--green mb-12 d-block"></i>
                <h2 class="mb-12 text--green">Úspěšná platba</h2>
                <p class="mb-24">Děkujeme! Vaše objednávka byla úspěšně zaplacena. Po připsání platby, Vám budou produkty doručeny na Vaši e-mailovou adresu.</p>
                <a href="catalog.html" class="btn btn--secondary mx-auto">Zpět do obchodu</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}