{% extends "layout/layout.html" %}

{% block content %}
<section class="my-48">
    <div class="container">
        <div class="d-flex text--center flex-column align-center justify-center">
            <div class="w-lg-50 w-md-70">
                <i class="bi bi-x-circle fs-48 fs-sm-56 fs-lg-64 text--red mb-12 d-block"></i>
                <h4 class="mb-12 text--red">Neúspěšná platba</h4>
                <p class="mb-24">Omlouváme se, platba nebyla úspěšná, protože byla stornovaná nebo zamítnuta bankou.</p>
                <a href="catalog.html" class="btn btn--secondary mx-auto">Zpět do obchodu</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}