{% extends "layout/layout.html" %}

{% block content %}
<section class="mb-48">
    <div class="section__header mb-48">
        <div class="container d-flex flex-column">
            <div class="d-flex align-center justify-center mb-8">
                <h3>Informace</h3>
            </div>
            <ul class="breadcrumb breadcrumb--light">
                <li>
                    <a href="">Domov</a>
                </li>
                <li>
                    Informace
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="mb-24">
            <p class="text--center text--gray-300 text--bold text--md mb-12">F&Q</p>
            <h5 class="text--center text--extraBold">Obchodní podmínky</h5>
        </div>
        <div class="card card--shadow p-24">
            <h5>1. Jak a kdy mi budou licenční klíče doručeny?</h5>
            <p>Systém automaticky odesílá produkty, které jsou skladem ihned po zaplacení na Vaši e-mailovou adresu nebo v zákaznickém účtu v sekci <strong>"Moje objednávky"</strong> pokud jste uskutečnili objednávku jako přihlášený uživatel. Produkty, které nejsou skladem jsou doručeny maximálně do 1 hod.</p>
            <br>
            <h5>2. Jak licenční klíč aktivuji?</h5>
            <p>Licenční klíč aktivujete podle návodu, který se nachází v sekci <strong>"Návod"</strong> v detailu produktu.</p>
            <br>
            <img src="https://www.bomshop.cz/data/upload/1/pages/2/V%C3%BDst%C5%99i%C5%BEek.PNG" alt="">
            <br>
            <h5>3. Jak mohu zaplatit?</h5>
            <p>Platební metody: VISA, MasterCard, Maestro, QR Platba, Paypal a Bankovní převod.</p>
            <br>
            <h5>4. Je to original?</h5>
            <p>Ano, všechny naše produkty jsou nakupovány z oficiální distribuce a ve většině případů jsou určeny pro digitální aplikace jako je Avast, AVG, Kaspersky, Norton atd.</p>
            <br>
            <h5>5. Lze licenční klíč vrátit?</h5>
            <p>Nelze, ve chvíli, kdy Vám bude licenční klíč odeslán, ztrácíte možnost vzhledem k povaze produktu jej vrátit bez udání důvodu. Pokud však licenční klíč bude nefunkční apod. bude Vám vrácena plná částka z nákupu nebo zaslán náhradní klíč.</p>
            <br>
            <h5>6. Licenční klíč nefunguje, co mám dělat?</h5>
            <p>Pokud zjistíte, že licenční klíč, který jste obdrželi, je neplatný nebo se s ním vyskytly jiné problémy, vyplňte formulář, který se nachází v části <strong>"Reklamace"</strong> nahoře v menu a popište Váš problém. Stížnost začneme řešit co nejdříve.</p>
            <br>
            <h5>7. Jak mohu získat hru zdarma?</h5>
            <p>Po uskutečnění nákupu na Bomshop.cz Vám Heureka za 10 dní zašle formulář pro vyplnění dotazníku ohledně spokojenosti s nákupem na našem e-shopu. V případě, že ho vyplníte, nás kontaktujte a my vám zašleme na Vaši e-mailovou adresu <strong>"ULTRA NÁHODNÝ STEAM KLÍČ"</strong> v hodnotě 20 EUR+.</p>
        </div>
    </div>
</section>
{% endblock %}