.badge {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: get-color(primary, 500);
    color: get-color(white, 500);
    padding: 0.8rem;

    > i {
        font-size: 1.6rem;
    }
}

.badge--gray {
    background-color: rgba(black, 0.1);
    color: get-color(black, 500);
}

.badge--orange {
    background-color: get-color(orange, 500);
}

.badge--green {
    background-color: get-color(green, 400);
}

.badge--blue {
    background-color: get-color(blue, 500);
}

.badge--sm {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
}

.badge--rounded {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}