.input--radio {
    flex-direction: row !important;
    align-items: flex-start !important;
    display: flex;

    label {
        font-size: 1.4rem;
        margin-bottom: 0px;
        line-height: 18px;

        &:first-child {
            margin-right: 8px;
        }
        &:last-child {
            margin-left: 8px;
        }

        a {
            padding: 0;
        }
    }

    input {
        position: relative;
        appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid rgba(black, 0.1);
        cursor: pointer;

        &::before {
            content: "";
            width: 8.5px;
            height: 8.5px;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.1s;
        }

        &:checked:before {
            transform: translate(-50%, -50%) scale(1);
            background-color: get-color(primary, 500);
        }
        &:checked {
            border-color: get-color(primary, 500) !important;
        }

        &:disabled {
            border: 2px solid rgba(black, 0.25) !important;
            background-color: get-color(white, 400);
            opacity: 0.5;

            &::before {
                background-color: rgba(black, 0.25) !important;
            }
        }

        &:focus {
            outline: none;
        }
    }

    &.is-required {
        label {
            &:first-child {
                margin-right: 8px;
            }
            &::after {
                content: "*";
                position: absolute;
                margin: 2px;
                color: get-color(red, 500);
            }
        }
    }
}


.input--radio__filled:has(input:checked) {
    background-color: lighten(get-color(primary, 500), 35%);
}