.input--number {

    .input {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 2.2rem;
        padding-right: 2.2rem;

        > input {
            height: 4rem;
            border-radius: unset !important;
            border-right: none !important;
            border-left: none !important;
            padding: 0.8rem !important;
            text-align: center;


            &:focus {
                outline: none;
                border: 2px solid rgba(black, 0.1) !important;
            }
        }
    }

    .input__buttons {
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;

        > button {
            position: absolute;
            top: 0;
            height: 100%;
            outline: none;
            cursor: pointer;
            background-color: get-color(white, 500);
            border: 2px solid rgba(black, 0.1);
            color: get-color(black, 500);
            padding: 4px;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s, border-color 0.3s, color 0.3s;

            &:first-child {
                right: 0;
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;

            }
        
            &:last-child {
                left: 0;
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }

            &:hover {
                background-color: get-color(primary, 500);
                border-color: get-color(primary, 500);
                color: get-color(white, 500);
            }

            &:focus {
                box-shadow: 0 0 0 2px rgba(get-color(primary, 500), 0.2);
            }
        }
    }
}