.wrapper--input {
    width: 50%;
}
.input {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    pointer-events: all;
    width: 100%;
    

    label {
        display: inline-block;
        font-size: 1.6rem;
        line-height: 100%;
        font-weight: get-font(weight, bold);
        color: get-color(black, 500);
        text-transform: capitalize;
        margin-bottom: 0.6rem;
    }
}

.basic--input {
    display: flex;
}

.input--input {
    margin: 0 1.5rem 1.5rem 0;
}

.textarea {
    overflow: auto;
    padding: 1rem 1.5rem;
    min-height: 19rem;
}

.input--sbm {
    border: none;
    background-color: get-color(white, 200);
    color: get-color(black, 500);
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}

.basic--input input[type=text],
.basic--input input[type=tel],
.basic--input input[type=email],
.basic--input input[type=message], textarea {
    background-color: get-color(white, 500);
    border: 0.2rem solid rgba(get-color(black, 300), 0.50);
    border-radius: 0.4rem;
    padding: 0 1.5rem;
    max-width: 100%;
    width: 100%;
    height: 4.2rem;
    opacity: 0.5;

    &:hover,
    &:focus,
    &:active {
        background-color: get-color(white, 500);
        border: 0.2rem solid rgba(get-color(black, 300), 0.50);
        outline: none;
    }

    &:disabled,
    &:read-only {
        pointer-events: none;
        border: 0.1rem solid get-color(black, 200) !important;
        background-color: get-color(white, 400);
        opacity: 0.5;
    }
}


