<footer class="bg--black-400">
    <div class="container">
        <div class="py-20">
            <div class="cols">
                <div class="col 12-xs 3-md">
                    <div class="d-flex align-center justify-center h-100 pr-xs-0 pr-md-64 mb-xs-24 mb-md-0">
                        <img src="./assets/images/logo-bezpecny-nakup.jpg" alt="Logo bezpečný nákup" class="image--lg">
                    </div>
                </div>
                <div class="col 12-xs 4-sm 3-md">
                    <h6 class="text--white py-8">Kategorie</h6>
                    <ul>
                        <li><a href="" class="link--white w-100 py-8">Microsoft Office</a></li>
                        <li><a href="" class="link--white w-100 py-8">Windows</a></li>
                        <li><a href="" class="link--white w-100 py-8">Antivirus</a></li>
                        <li><a href="" class="link--white w-100 py-8">Serverový software</a></li>
                        <li><a href="" class="link--white w-100 py-8">Vývojářské nástroje</a></li>
                        <li><a href="" class="link--white w-100 py-8">Aplikace Office</a></li>
                    </ul>
                </div>
                <div class="col 12-xs 4-sm 3-md">
                    <h6 class="text--white py-8">Informace</h6>
                    <ul>
                        <li><a href="" class="link--white w-100 py-8">Výkup softwaru</a></li>
                        <li><a href="" class="link--white w-100 py-8">Pro firmy a školy</a></li>
                        <li><a href="" class="link--white w-100 py-8">Časté otázky</a></li>
                        <li><a href="" class="link--white w-100 py-8">Můj účet</a></li>
                        <li><a href="" class="link--white w-100 py-8">Blog</a></li>
                        <li><a href="" class="link--white w-100 py-8">Kontakt</a></li>
                    </ul>
                </div>
                <div class="col 12-xs 4-sm 3-md">
                    <h6 class="text--white py-8">Zákaznický servis</h6>
                    <ul>
                        <li><a href="" class="link--white w-100 py-8">Obchodní podmínky</a></li>
                        <li><a href="" class="link--white w-100 py-8">Odstoupení od smlouvy</a></li>
                        <li><a href="" class="link--white w-100 py-8">Doprava a platba</a></li>
                        <li><a href="" class="link--white w-100 py-8">Ochrana osobních údajů</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="py-20">
            <div class="cols">
                <div class="col 12-xs 6-sm">
                    <div class="d-flex align-center justify-xs-center justify-sm-start text-xs--center text-sm--start h-100">
                        <span class="text--white-300">Vygenerované za 0.306s</span>
                    </div>
                </div>
                <div class="col 12-xs 6-sm">
                    <div class="d-flex align-center justify-xs-center justify-sm-end text-xs--center text-sm--end h-100">
                        <span class="text--white-300">Tento obchod funguje na systému <a href="https://www.patrikbudai.com/nemas-svoj-eshop" target="_blank" class="link--white">Smartshopik.sk</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>