<header class="bg--white">
    <div class="container d-xs-none d-md-block">
        <div class="py-4 d-flex align-center justify-end mx-n8">
            <div class="menu__dropdown" js-id="dropdown@click#currency">
                <button type="button">
                    <span class="menu__dropdown--icon">
                        <img src="./assets/images/flags/cz.png" alt="">
                    </span>
                    <span class="menu__dropdown--title">Česko (CZK)</span>
                </button>
                <ul class="menu__dropdown--list right-0 is-hidden" js-id="dropdown#currency">
                    <li>
                        <a class="menu__dropdown--link" href="">
                            <img src="./assets/images/flags/cz.png" alt="">
                            Česko  (CZK)
                        </a>
                    </li>
                    <li>
                        <a class="menu__dropdown--link" href="">
                            <img src="./assets/images/flags/sk.png" alt="">
                            Slovensko (EUR)
                        </a>
                    </li>
                    <li>
                        <a class="menu__dropdown--link" href="">
                            <img src="./assets/images/flags/de.png" alt="">
                            Německo (EUR)
                        </a>
                    </li>
                    <li>
                        <a class="menu__dropdown--link" href="">
                            <img src="./assets/images/flags/fr.png" alt="">
                            Francie (EUR)
                        </a>
                    </li>
                    <li>
                        <a class="menu__dropdown--link" href="">
                            <img src="./assets/images/flags/us.png" alt="">
                            USA (USD)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="hr--light d-xs-none d-md-block">
    <div class="container">
        <div class="py-16 d-flex align-center justify-between">
            <a href="./index.html" class="d-xs-flex d-md-block align-center justify-center w-xs-100 w-md-unset mr-xs-0 mr-md-30">
                <img src="./assets/images/logo.png" alt="" class="image--md">
            </a>
            <div class="d-xs-none d-md-flex align-center justify-between flex-grow">
                <div class="d-flex align-center">
                    <i class="bi bi-headset fs-24 mr-6"></i>
                    <a href="tel:+420787323654" class="link--primary text--bold fs-16 mr-4">+420 787 323 654</a>
                    <span class="fs-16 text--black-200">Po - Ne: 9:00 - 18:00</span>
                </div>
                <div>
                    <div class="menu__search">
                        <form class="w-100">
                            <div class="input input--search">
                                <input type="text" name="q" autocomplete="off" placeholder="Vyhledejte produkt..." js-id="action@load(writing_effect)" data-write="Office 2021 Pro; Windows 11 Pro">
                                <button type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                        <div class="card card--search is-hidden">
                            <div class="p-16">
                                <p>Zadali jste nesprávný výraz</p>
                            </div>
                            <a href="./product.html" class="product__search--card p-16">
                                <div class="product__search--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="Product image">
                                </div>
                                <div>
                                    <h4 class="mb-12">Microsoft Office 2021 Professional Plus</h4>
                                    <p>
                                        <span class="text--md text--bold text--primary">49,90 €</span>
                                        <span class="text--xs">s DPH</span>
                                    </p>
                                </div>
                            </a>
                            <a href="./product.html" class="product__search--card p-16">
                                <div class="product__search--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="Product image">
                                </div>
                                <div>
                                    <h4 class="mb-12">Microsoft Office 2021 Professional Plus</h4>
                                    <p>
                                        <span class="text--md text--bold text--primary">49,90 €</span>
                                        <span class="text--xs">s DPH</span>
                                    </p>
                                </div>
                            </a>
                            <a href="./product.html" class="product__search--card p-16">
                                <div class="product__search--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="Product image">
                                </div>
                                <div>
                                    <h4 class="mb-12">Microsoft Office 2021 Professional Plus</h4>
                                    <p>
                                        <span class="text--md text--bold text--primary">49,90 €</span>
                                        <span class="text--xs">s DPH</span>
                                    </p>
                                </div>
                            </a>
                            <a href="./product.html" class="product__search--card p-16">
                                <div class="product__search--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="Product image">
                                </div>
                                <div>
                                    <h4 class="mb-12">Microsoft Office 2021 Professional Plus</h4>
                                    <p>
                                        <span class="text--md text--bold text--primary">49,90 €</span>
                                        <span class="text--xs">s DPH</span>
                                    </p>
                                </div>
                            </a>
                            <a href="./product.html" class="product__search--card p-16">
                                <div class="product__search--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="Product image">
                                </div>
                                <div>
                                    <h4 class="mb-12">Microsoft Office 2021 Professional Plus</h4>
                                    <p>
                                        <span class="text--md text--bold text--primary">49,90 €</span>
                                        <span class="text--xs">s DPH</span>
                                    </p>
                                </div>
                            </a>
                            <a href="./product.html" class="product__search--card p-16">
                                <div class="product__search--image">
                                    <img src="./assets/images/products/placeholder-image.jpg" alt="Product image">
                                </div>
                                <div>
                                    <h4 class="mb-12">Microsoft Office 2021 Professional Plus</h4>
                                    <p>
                                        <span class="text--md text--bold text--primary">49,90 €</span>
                                        <span class="text--xs">s DPH</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr--light d-xs-none d-md-block">
    <div class="container d-xs-none d-md-block">
        <div class="d-flex align-center justify-between py-10">
            <nav class="p-relative">
                <ul class="d-flex flex-wrap mx-n8">
                    <li>
                        <div class="menu__link">
                            <a href="" js-id="dropdown@hover#menu1">
                                <span class="menu__link--title">Microsoft Office</span>
                                <i class="bi bi-chevron-down fs-10"></i>
                            </a>
                            <ul class="menu__link--dropdown is-hidden" js-id="dropdown#menu1">
                                <li>
                                    <a href="">
                                        Podnikatelé
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Studenti a domácnost
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        MAC OS
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Výhodné balíčky
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="menu__link">
                            <a href="" js-id="dropdown@hover#menu2">
                                <span class="menu__link--title">Windows</span>
                                <i class="bi bi-chevron-down fs-10"></i>
                            </a>
                            <ul class="menu__link--dropdown is-hidden" js-id="dropdown#menu2">
                                <li>
                                    <a href="">
                                        Windows 11
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Windows 10
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Windows 8
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Windows 7
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="menu__link">
                            <a href="" js-id="dropdown@hover#menu3">
                                <span class="menu__link--title">Antivirus</span>
                                <i class="bi bi-chevron-down fs-10"></i>
                            </a>
                            <ul class="menu__link--dropdown is-hidden" js-id="dropdown#menu3">
                                <li>
                                    <a href="">
                                        Avast
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Eset
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        AVG
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="menu__link">
                            <a href="" js-id="dropdown@hover#menu5">
                                <span class="menu__link--title">Aplikace Office</span>
                                <i class="bi bi-chevron-down fs-10"></i>
                            </a>
                            <ul class="menu__link--dropdown is-hidden" js-id="dropdown#menu5">
                                <li>
                                    <a href="">
                                        Microsoft Visio
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Microsoft Project
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="menu__link">
                            <a href="">
                                <span class="menu__link--title">Pro firmy a školy</span>
                                <span class="menu__link--badge menu__link--badge--green">spolupráce</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="menu__link">
                            <a href="">
                                <span class="menu__link--title">Časté otázky</span>
                                <span class="menu__link--badge menu__link--badge--blue">nějaké kecy</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="menu__link">
                            <a href="">
                                <span class="menu__link--title">Certifikáty</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="d-flex align-center justify-end">
                <div class="menu__box">
                    <a href="login.html" title="Můj účet">
                        <span class="menu__box--icon">
                            <i class="bi bi-person-circle"></i>
                        </span>
                    </a>
                </div>
                <div class="menu__box">
                    <a href="" title="Seznam přání">
                        <span class="menu__box--icon">
                            <i class="bi bi-heart"></i>
                        </span>
                    </a>
                    <span class="menu__box--quantity">4</span>
                </div>
                <div class="menu__box">
                    <button type="button" title="Košík">
                        <span class="menu__box--icon">
                            <i class="bi bi-bag"></i>
                        </span>
                    </button>
                    <span class="menu__box--quantity">40</span>
                </div>
            </div>
        </div>
    </div>
</header>