<header class="bg--white">
    <div class="container">
        <div class="py-20">
            
        </div>
    </div>
    <hr class="hr--light d-xs-none d-md-block">
    <div class="container d-xs-none d-md-block">
        <div class="d-flex align-center justify-between py-10">
            <nav class="p-relative">
                <ul class="d-flex flex-wrap mx-n8">
                    <li>
                        <div class="menu__link">
                            <a href="" js-id="dropdown@hover#menu1">
                                <span class="menu__link--title">Microsoft Office</span>
                                <i class="bi bi-chevron-down fs-10"></i>
                            </a>
                            <ul class="menu__link--dropdown is-hidden" js-id="dropdown#menu1">
                                <li>
                                    <a href="">
                                        Podnikatelé
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Studenti a domácnost
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        MAC OS
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Výhodné balíčky
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="menu__link">
                            <a href="" js-id="dropdown@hover#menu2">
                                <span class="menu__link--title">Windows</span>
                                <i class="bi bi-chevron-down fs-10"></i>
                            </a>
                            <ul class="menu__link--dropdown is-hidden" js-id="dropdown#menu2">
                                <li>
                                    <a href="">
                                        Windows 11
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Windows 10
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Windows 8
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Windows 7
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="menu__link">
                            <a href="" js-id="dropdown@hover#menu3">
                                <span class="menu__link--title">Antivirus</span>
                                <i class="bi bi-chevron-down fs-10"></i>
                            </a>
                            <ul class="menu__link--dropdown is-hidden" js-id="dropdown#menu3">
                                <li>
                                    <a href="">
                                        Avast
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Eset
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        AVG
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="menu__link">
                            <a href="" js-id="dropdown@hover#menu5">
                                <span class="menu__link--title">Aplikace Office</span>
                                <i class="bi bi-chevron-down fs-10"></i>
                            </a>
                            <ul class="menu__link--dropdown is-hidden" js-id="dropdown#menu5">
                                <li>
                                    <a href="">
                                        Microsoft Visio
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Microsoft Project
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="menu__link">
                            <a href="">
                                <span class="menu__link--title">Pro firmy a školy</span>
                                <span class="menu__link--badge menu__link--badge--green">spolupráce</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="menu__link">
                            <a href="">
                                <span class="menu__link--title">Časté otázky</span>
                                <span class="menu__link--badge menu__link--badge--blue">nějaké kecy</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="menu__link">
                            <a href="">
                                <span class="menu__link--title">Certifikáty</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="d-flex align-center justify-end">
                <div class="menu__box">
                    <a href="" title="Můj účet">
                        <span class="menu__box--icon">
                            <i class="bi bi-person-circle"></i>
                        </span>
                    </a>
                </div>
                <div class="menu__box">
                    <a href="" title="Seznam přání">
                        <span class="menu__box--icon">
                            <i class="bi bi-heart"></i>
                        </span>
                    </a>
                    <span class="menu__box--quantity">4</span>
                </div>
                <div class="menu__box">
                    <button type="button" title="Košík">
                        <span class="menu__box--icon">
                            <i class="bi bi-bag"></i>
                        </span>
                    </button>
                    <span class="menu__box--quantity">40</span>
                </div>
            </div>
        </div>
    </div>
</header>